<!-- begin advantages-section -->
<section class="advantages-section">
	<div class="uk-container">
		<div class="uk-grid">
			<div class="uk-width-1-3@m">
				<div class="advantages-section__text">
					<div class="title-h1">Преимущества интернет-магазина El-watt</div>
					<p>
						Интернет-магазин EL-WATT занимается продажей сертифицированной электротехнической продукции. В наличии качественные электротовары известных брендов. Сотрудники компании тщательно проверяют состояние каждого изделия на предмет отсутствия каких-либо дефектов и признаков заводского брака. Доставка электротоваров возможна по всей территории Москвы, Московской области и других регионов.
					</p>

					<a href="">О компании</a>
				</div>
			</div>
			<div class="uk-width-2-3@m">
				<div class="advantages-list uk-child-width-1-2@s" uk-grid>
					<div class="advantages-list__col">
						<div class="advantages-list__item">
							<div class="advantages-item__header">
								<div class="advantages-item__icon">
									<img src="img/icon-svg/logistic.svg" width="42" height="60" alt="" loading="lazy">
								</div>
								<div class="advantages-item__title">Логистика</div>
							</div>
							<div class="advantages-item__text">
								Для доставки заказов покупателям (Москва и МО) мы пользуемся сторонними ТК, пунктами самовывоза, а также собственной логистикой, что позволяет нам быть более гибкими и доставлять товар клиенту даже тогда, когда это кажется невозможным. Доставки осуществляются на следующий день после размещения и оплаты заказа, но когда это особенно важно — день в день.
							</div>
						</div>
					</div>
					<div class="advantages-list__col">
						<div class="advantages-list__item">
							<div class="advantages-item__header">
								<div class="advantages-item__icon">
									<img src="img/icon-svg/price.svg" width="35" height="60" alt="" loading="lazy">
								</div>
								<div class="advantages-item__title">Низкие цены</div>
							</div>
							<div class="advantages-item__text">
								Наша компания работает на рынке электротехнической продукции уже более 15 лет, за это время нам удалось выстроить крепкие и доверительные отношения с крупнейшими производителями и дистрибьюторами рынка электротехники, это дает нам возможность предлагать нашим клиентам более низкие цены, предоставлять дополнительные скидки и бонусы.
							</div>
						</div>
					</div>
					<div class="advantages-list__col">
						<div class="advantages-list__item">
							<div class="advantages-item__header">
								<div class="advantages-item__icon">
									<img src="img/icon-svg/safe.svg" width="43" height="60" alt="" loading="lazy">
								</div>
								<div class="advantages-item__title">Мы против подделок</div>
							</div>
							<div class="advantages-item__text">
								Мы являемся сертифицированными партнерами известных брендов (ABB, Schneider Electric, IEK, Legrand и др.) и продаем исключительно оригинальную продукцию
							</div>
						</div>
					</div>
					<div class="advantages-list__col">
						<div class="advantages-list__item">
							<div class="advantages-item__header">
								<div class="advantages-item__icon">
									<img src="img/icon-svg/experience.svg" width="64" height="38" alt="" loading="lazy">
								</div>
								<div class="advantages-item__title">Опыт</div>
							</div>
							<div class="advantages-item__text">
								В нашей компании работают сотрудники с многолетним опытом и знанием продукции, в случае если потребуется техническая консультация
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end advantages-section -->
