<!-- begin catalog-main -->
<section class="catalog-main">
	<div class="uk-container">
		<div class="catalog-list">
			<div class="uk-grid uk-grid-collapse" uk-grid>
				<div class="uk-width-1-2@s">
					<div class="catalog-list__item">
						<div class="catalog-item catalog-item--prime">
							<div class="catalog-item__title">
								<a href="">Провод и кабель. Муфты. Аксессуары</a>
							</div>
							<ul class="catalog-item__links">
								<li>
									<a href="">Провод и кабель</a>
								</li>
								<li>
									<a href="">Наконечники. Гильзы</a>
								</li>
								<li>
									<a href="">Муфты кабельные</a>
								</li>
								<li>
									<a href="">Маркировка</a>
								</li>
								<li>
									<a href="">Распродажа</a>
								</li>
							</ul>

							<div class="catalog-item__img">
								<img src="img/media/catalog-preview-img-1.png" alt="" loading="lazy">
							</div>
						</div>
					</div>
				</div>
				<div class="uk-width-1-2@s">
					<div class="catalog-list__item">
						<div class="catalog-item catalog-item--prime">
							<div class="catalog-item__title">
								<a href="">Электрооборудование</a>
							</div>
							<ul class="catalog-item__links">
								<li>
									<a>Автоматы.</a>
									<a>УЗО.</a>
									<a>Дифавтоматы</a>
								</li>
								<li>
									<a>Реле.</a>
									<a>Пускатели.</a>
									<a>Контакторы</a>
								</li>
								<li>
									<a>Рубильники.</a>
									<a>Разъединители</a>
								</li>
								<li>
									<a>Молниезащита.</a>
									<a>Заземление.</a>
									<a>Ограничители перенапряжения</a>
								</li>
								<li>
									<a>Электросчетчики.</a>
									<a>Трансформаторы тока.</a>
									<a>Щитовые приборы</a>
								</li>
							</ul>

							<div class="catalog-item__img">
								<img src="img/media/catalog-preview-img-2.png" alt="" loading="lazy">
							</div>
						</div>
					</div>
				</div>
				<div class="uk-width-1-2@s">
					<div class="catalog-list__item">
						<div class="catalog-item catalog-item--prime">
							<div class="catalog-item__title">
								<a href="">Электроустановочные изделия</a>
							</div>
							<ul class="catalog-item__links">
								<li>
									<a>Розетки.</a>
									<a>Выключатели.</a>
									<a>Светорегуляторы.</a>
									<a>Звонки</a>
								</li>
								<li>
									<a>Вилки.</a>
									<a>Разъемы.</a>
									<a>Удлинители.</a>
									<a>Сетевые фильтры.</a>
								</li>
								<li>
									<a>Адаптеры питания</a>
								</li>
								<li>
									<a>Коробки.</a>
									<a>Сальники.</a>
									<a>Патрубки.</a>
									<a>Кабельные вводы</a>
								</li>
							</ul>

							<div class="catalog-item__img">
								<img src="img/media/catalog-preview-img-3.png" alt="" loading="lazy">
							</div>
						</div>
					</div>
				</div>
				<div class="uk-width-1-2@s">
					<div class="catalog-list__item">
						<div class="catalog-item">
							<div class="catalog-item__title">
								<a href="">Светотехника. Лампы</a>
							</div>
							<ul class="catalog-item__links"></ul>

							<div class="catalog-item__img">
								<img src="img/media/catalog-preview-img-4.png" alt="" loading="lazy">
							</div>
						</div>
					</div>
					<div class="catalog-list__item">
						<div class="catalog-item">
							<div class="catalog-item__title">
								<a href="">Теплотехника. Вентиляция. Насосы</a>
							</div>
							<ul class="catalog-item__links"></ul>

							<div class="catalog-item__img">
								<img src="img/media/catalog-preview-img-5.png" alt="" loading="lazy">
							</div>
						</div>
					</div>
				</div>
				<div class="uk-width-1-2@s">
					<div class="catalog-list__item">
						<div class="catalog-item">
							<div class="catalog-item__title">
								<a href="">Инструмент. Контрольно-измерительные приборы</a>
							</div>
							<ul class="catalog-item__links">
								<li></li>
							</ul>

							<div class="catalog-item__img">
								<img src="img/media/catalog-preview-img-6.png" alt="" loading="lazy">
							</div>
						</div>
					</div>
					<div class="catalog-list__item">
						<div class="catalog-item">
							<div class="catalog-item__title">
								<a href="">Электромонтажные материалы и Крепеж</a>
							</div>
							<ul class="catalog-item__links">
								<li></li>
							</ul>

							<div class="catalog-item__img">
								<img src="img/media/catalog-preview-img-7.png" alt="" loading="lazy">
							</div>
						</div>
					</div>
				</div>
				<div class="uk-width-1-2@s">
					<div class="catalog-list__item">
						<div class="hit-slider">
							<div class="slider">
								{% for item in 1..2 %}
									<div class="slide">
										<div class="product-card product-card--hoz">
											<header class="product-card__header">
												<div class="product-card__img">
													<a href="">
														<img src="img/media/catalog/catalog-img-1.png" alt="" loading="lazy">
													</a>
												</div>
												<div class="product-card__stocks">
													<div class="stock__hit">хит</div>
													<div class="stock__new">новое</div>
												</div>
												<div class="product-card__toolbar">
													<a href="" class="favorite"></a>
													<a href="" class="comparison"></a>
												</div>
											</header>
											<section class="product-card__body">
												<div class="product-card__title">
													<a href="">Aвтоматический выключатель ABB 1-полюсный SH201L C10 однофазный</a>
												</div>
												<div class="product-card__prices">
													<div class="old-price">323.16 ₽</div>
													<div class="current-price">306.06 ₽</div>
												</div>
												<div class="product-card__controls">
													<div class="calc">
														<span class="calc__min">
															<svg width="16px" height="24px" class="icon-minus">
																<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#minus"></use>
															</svg>
														</span>
														<input type="text" class="calc__value" value="1">
														<span class="calc__plus">
															<svg width="16px" height="24px" class="icon-plus">
																<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#plus"></use>
															</svg>
														</span>
													</div>
													<a href="" class="btn btn--red btn--icon">
														<svg width="20px" height="19px" class="icon-cart">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#cart"></use>
														</svg>
														В Корзину
													</a>
												</div>
											</section>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end catalog-main -->
