<!-- begin offcanvas-menu -->
<div id="offcanvas-menu-mob" class="offcanvas-menu" uk-offcanvas>
	<div class="uk-offcanvas-bar">
		<div class="uk-panel">
			<div class="header-nav-buttons">
				<div class="header-nav-buttons__item">
					<a href="" class="btn btn--icon">
						<svg width="12px" height="12px" class="icon-catalog">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#catalog"></use>
						</svg>
						<span>Каталог</span>
					</a>
				</div>
				<div class="header-nav-buttons__item">
					<a href="" class="btn btn--white">Заявка на расчет</a>
				</div>
			</div>
		</div>

		<div class="uk-panel">
			<ul class="uk-nav">
				<li>
					<a href="#">Бренды</a>
				</li>
				<li>
					<a href="#">О компании</a>
				</li>
				<li>
					<a href="#">Оплата и доставка</a>
				</li>
				<li>
					<a href="#">Партнерам</a>
				</li>
				<li>
					<a href="#">Купон на скидку</a>
				</li>
				<li>
					<a href="#">Контакты</a>
				</li>
			</ul>
		</div>

		<div class="uk-panel">
			<div class="contacts uk-flex uk-flex-wrap">
				<div class="contacts__item">
					<a href="tel:+79267868151" class="contacts__tel">
						<span>+7 (926) 786 81 51</span>
						<span class="icons">
							<svg width="22px" height="22px" class="icon-whataspp">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#whatsapp"></use>
							</svg>
							<svg width="22px" height="22px" class="icon-viber">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#viber"></use>
							</svg>
						</span>
					</a>
					<div class="contacts__text">
						Ежедневно с 09.00 до 18.00
					</div>
				</div>
				<div class="contacts__item">
					<a href="tel:+74955323596" class="contacts__tel">
						<span>8 (495) 532 35 96</span>
					</a>
					<div class="contacts__text">
						<a href="#callback" uk-toggle>Заказать звонок</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end offcanvas-menu -->
