<!-- begin main-stocks-list -->
<section class="main-stocks-list">
	<div class="uk-container">
		<a href="" class="stocks-link">Все акции</a>
		<div class="uk-grid uk-grid-collapse" uk-grid>
			<div class="uk-width-1-3@m">
				<div class="stock-card stock-card--divider">
					<div class="stock-card__inner">
						<div class="stock-card__title">
							<a href="">
								30% скидка на Devi

								<span class="stock-card__status"></span>
								<svg width="14px" height="12px" class="icon-arrow-right">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#arrow-right-purple"></use>
								</svg>
							</a>
						</div>
						<div class="stock-card__text">Для скидки в интернет магазине используйте промо-код: BOH232</div>
						<div class="stock-card__date">до 01 мая 2022</div>
					</div>
				</div>
			</div>
			<div class="uk-width-1-3@m uk-visible@m">
				<div class="stock-card stock-card--divider">
					<div class="stock-card__inner">
						<div class="stock-card__title">
							<a href="">
								скидка чемпионов 40%
								<span class="stock-card__status">
									<img src="img/media/medal.svg" width="32" height="32" alt="" loading="lazy">
								</span>
								<svg width="14px" height="12px" class="icon-arrow-right">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#arrow-right-purple"></use>
								</svg>
							</a>

						</div>
						<div class="stock-card__text">На электрощитки и автоматические выключатели фирм Legrand® и ABB®</div>
						<div class="stock-card__date">до 14 ноября 2022</div>
					</div>
				</div>
			</div>
			<div class="uk-width-1-3@m uk-visible@m">
				<div class="stock-card stock-card--divider">
					<div class="stock-card__inner">
						<div class="stock-card__title">
							<a href="">
								Весенняя распродажа
								<span class="stock-card__status"></span>
								<svg width="14px" height="12px" class="icon-arrow-right">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#arrow-right-purple"></use>
								</svg>
							</a>

						</div>
						<div class="stock-card__text">Новые поступления, не пропустите заманчивые предложения этого сезона</div>
						<div class="stock-card__date">до 05 мая 2022</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end main-stocks-list -->
