<!-- begin stocks-section -->
<section class="stocks-section">
	<div class="uk-container">
		<div class="stocks-section__inner">
			<div class="uk-grid uk-grid-collapse">
				<div class="uk-width-2-3@m">
					<div class="stocks-slider">
						{% for item in 1..3 %}
							<div class="slide">
								<div class="slide__img">
									<picture>
										<source srcset="img/media/webp/stock-slider-1-892x450.webp" media="(min-width: 768px)" type="image/webp">
										<source srcset="img/media/webp/stock-slider-1-mob-335x450.webp" media="(min-width: 320px)" type="image/webp">
										<source srcset="img/media/sliders/stock-slider-1-892x450.jpg" media="(min-width: 768px)" type="image/png">
										<source srcset="img/media/sliders/stock-slider-1-mob-335x450.jpg" media="(min-width: 320px)" type="image/png">
										<img src="img/media/sliders/stock-slider-1-892x450.jpg" alt="" loading="lazy">
									</picture>
								</div>

								<div class="slide__text">
									Электроустановочные изделия berker со скидкой 30%
								</div>

								<div class="slide__link">
									<a href="">Распродажа</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="uk-width-1-3@m">
					<div class="stocks-news">
						<div class="stocks-news__inner">
							<div class="stocks-news__header">
								<h3 class="title-h3">Акции</h3>
								<a href="">Посмотреть все</a>
							</div>

							<div class="stocks-news__list">
								<div class="stocks-news__list-item">
									<a href="">Примените
										<span class="text-red">промокод Sale40</span>
										и получите скидку при оформлении заказа</a>
								</div>
								<div class="stocks-news__list-item">
									<a href="">
										<span class="text-red">скидка чемпионов 40%</span>
										На электрощитки и автоматические выключатели
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end stocks-section -->
