<!-- begin stock-slider -->
<section class="stock-slider">
	<div class="slider">
		{% for item in 1..2 %}
			<div class="slide">
				<div class="stock-card">
					<div class="stock-card__inner">
						<div class="stock-card__title">
							<a href="">
								30% скидка на Devi

								<span class="stock-card__status"></span>
								<svg width="14px" height="12px" class="icon-arrow-right">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#arrow-right-purple"></use>
								</svg>
							</a>
						</div>
						<div class="stock-card__text">Для скидки в интернет магазине используйте промо-код: BOH232</div>
						<div class="stock-card__date">до 01 мая 2022</div>
					</div>
				</div>

			</div>
		{% endfor %}
	</div>
</section>
<!-- end stock-slider -->
