<ul class="soc-list">
	<li>
		<a href="">
			<svg width="24px" height="14px" class="icon-vk">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#vk"></use>
			</svg>
		</a>
	</li>
	<li>
		<a href="">
			<svg width="21px" height="21px" class="icon-whatsapp">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#whatsapp"></use>
			</svg>
		</a>
	</li>
	<li>
		<a href="">
			<svg width="21px" height="23px" class="icon-viber">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#viber"></use>
			</svg>
		</a>
	</li>
	<li>
		<a href="">
			<svg width="14px" height="24px" class="icon-ok">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#ok"></use>
			</svg>
		</a>
	</li>
	<li>
		<a href="">
			<svg width="18px" height="12px" class="icon-youtube">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#youtube"></use>
			</svg>
		</a>
	</li>
	<li>
		<a href="">
			<svg width="12px" height="24px" class="icon-yandex">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#yandex"></use>
			</svg>
		</a>
	</li>
</ul>
