<!DOCTYPE html>
<html lang="ru">
	{% include "../includes/head.twig" %}
	<body>
		<div class="top-stocks">
			<div class="uk-container">
				<div class="top-stocks__inner">
					<div class="top-stocks__text">суперскидки с 24 января — 6 февраля</div>
					<a href="#" class="top-stocks__btn" role="button">
						<svg width="14px" height="14px" class="icon-cross">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#cross"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
		<div class="page-wrapper">
			{% include "../includes/header.twig" %}
			{% block breadcrumbs %}{% endblock %}
			<main class="main"> {% block content %}{% endblock %}
				</main>
				{% include "../includes/footer.twig" %}
				{% include "../includes/modals/index.twig" %}
			</div>
			{% include "../includes/scripts.twig" %}
		</body>
	</html>
