.left-sidebar {
  position: relative;
  margin-bottom: $gutter !important;


  @media (min-width: $desk-w) {
    min-width: 310px;
    height: 100%;
  }

  &__inner {

    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid $border;
    border-top: none;
    background-color: $white;
    z-index: 25;

    @media (min-width: $desk-w) {
      position: static;
      display: block !important;
      border-top: 1px solid $border;
    }

    &--right-border {
      padding: 13px 20px;
      border-radius: 0 0 $borderRadius $borderRadius;

      @media (min-width: $desk-w) {
        padding: 0 20px 0 0;
        height: 100%;
        border: none;
        border-radius: unset;
        border-right: 1px solid $border;
      }
    }
  }
}


.aside-list-nav {
  @include list-reset();

  li {
    margin-bottom: 12px;

    a {
      position: relative;
      display: block;
      color: $black;

      &.active {
        color: $prime;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          width: 24px;
          height: 24px;
          background: url('../img/icon-svg/arrow-right-purple.svg') center no-repeat;
          background-size: 14px 12px;
        }
      }
    }
  }
}


.right-sidebar {
  padding: $gutter / 2;
  border: 1px solid $border;

  &__title {
    margin-bottom: $gutter / 2;
    padding-bottom: $gutter - 6px;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $secondFont;
    color: $prime;
    border-bottom: 1px solid $border;
  }
}
