.product-card {
  padding: $gutter / 2;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    position: relative;
    flex-grow: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__footer {
    margin-top: auto;

    &>*:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    margin-bottom: 30px;

    a {
      height: 180px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &__toolbar {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;

    &>* {
      display: block;
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }

      a {
        margin-right: 0 !important;
      }
    }
  }


  &__title {
    margin-bottom: $gutter / 2;

    a {
      color: $black;
    }
  }

  &__prices {
    margin-bottom: $gutter / 4;
    display: flex;

    &>div {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &>* {
      margin-right: 10px;
      margin-top: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &--hoz {
    display: flex;
    flex-direction: column;

    @media (min-width: $desk-w) {
      flex-direction: row;
    }

    .product-card__header,
    .product-card__body {
      @media (min-width: $desk-w) {
        flex-basis: 50%;
      }
    }

    .product-card__header {
      @media (min-width: $tablet-w) {
        padding-right: 30px;
      }
    }

    .product-card__toolbar {
      right: 30px;
    }

    .product-card__prices {
      margin-bottom: $gutter - 10px;
    }

    .product-card__img {
      @media (min-width: $tablet-w) {
        margin-bottom: 0;
      }
    }
  }
}


.old-price {
  color: $red;
  text-decoration: line-through;

  &:empty {
    display: none;
  }
}

.favorite,
.comparison,
.delete-item {
  display: block;
  width: 22px;
  height: 22px;
} 

.favorite {
  background: url('../img/icon-svg/star.svg') center no-repeat;
  background-size: 18px;

  &.active {
    background: url('../img/icon-svg/star-fill.svg') center no-repeat;
    background-size: 28px;
    background-position: center -3px;
  }
}

.comparison {
  background: url('../img/icon-svg/comparison-added.svg') center no-repeat;
  background-size: 14px;
  &.added {
    background: url('../img/icon-svg/comparison.svg') center no-repeat;
    background-size: 14px;
  }
}

.delete-item {
  background: url('../img/icon-svg/cross-prime.svg') center no-repeat;
  background-size: 14px;
}

.stocks {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;

  &>div {
    margin-right: 4px;
    padding: 5px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    border-radius: 4px;
    line-height: 16px;
  }

  &__hit {
    background-color: $red;
  }

  &__new {
    background-color: $green;
  }
}
