.reviews-section {
  margin-top: $gutter / 2;

  @media (min-width: $tablet-w) {
    margin-top: 0;
  }
}

.reviews-list {
  margin-bottom: $gutter;
  padding-bottom: $gutter / 2;
  border-bottom: 1px solid $border;
}

.review {
  margin-bottom: $gutter;
  padding-bottom: $gutter / 2;
  border-bottom: 1px solid $border;

  &:last-child {
    margin-bottom: $gutter / 2;
    padding-bottom: 0;
    border-bottom: none;
  }

  &__top {
    margin-bottom: $gutter / 2;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &>* {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__rating {
    position: relative;
    width: 100px;
    height: 24px;
    background: url('../img/icon-svg/star-fill-orange.svg') 0 center repeat-x;
    background-size: 20px;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100%;
      background-color: $white;
      z-index: 15;
    }

    &--one {
      &:after {
        left: calc(20% - 4px);
      }
    }

    &--two {
      &:after {
        left: calc(40% - 4px);
      }
    }

    &--three {
      &:after {
        left: calc(60% - 4px);
      }
    }

    &--four {
      &:after {
        left: calc(80% - 4px);
      }
    }
  }

  &__date {
    color: $gray;
  }

  &__text-positive,
  &__text-negative {
    margin-bottom: $gutter / 2;
  }

  .doc-list {
    margin-top: $gutter / 2;
    width: 100%;

    @media (min-width: $mob-s) {
      margin-top: 0;
      margin-left: auto;
      width: auto;
    }

    li {
      margin: 0;
    }
  }
}

.add-reviews {
  margin-bottom: $gutter / 2 !important;
  padding: $gutter / 2;
  background: $bg;

  &__text {
    margin-bottom: $gutter / 2;

    @media (min-width: $tablet-w) {
      margin-bottom: $gutter;
    }
  }
}
