{% extends "../layouts/empty.twig" %}
{% set title="500" %}

{% block content %}


	<div class="uk-container">
		<div class="page-error">
			<div class="left-column">
				<h1>На сайте ведутся технические работы</h1>
			</div>
			<div class="right-column">
				<p>На данный момент сайт недоступен, скоро мы вернемся к вам</p>
				<p>Наши телефоны для связи:
				</p>
				<p>
					<a href="tel:+79267868151">
						+7 (926) 786 81 51
						<img src="img/whatsapp-white.svg" width="22" height="22" alt="whatsapp">
						<img src="img/viber-white.svg" width="22" height="24" alt="viber"></a>

				</p>
			</a>
		</p>
		<p>
			<a href="tel:+74955323596">8 (495) 532 35 96</a>
		</p>
	</div>
</div></div>{% endblock %}
