{% extends "../layouts/left-c-page.twig" %}
{% set title="Статьи" %}
{% set bread = ['Главная', 'Статьи'] %}

{% block leftside %}
	{% include "../includes/partials/left-sidebar-menu.twig" with {'active': 'Статьи'} %}
{% endblock %}
{% block content %}
	<!-- begin content-section -->
	<section class="content-section">
		<div class="uk-container">
			<h1 class="underline">НАДЕЖНОСТЬ ПРОВЕРЕНА ВРЕМЕНЕМ (h1)</h1>
			<h2>Обычный текст (h2)</h2>
			<p>При этом стоимость предложений Schneider Electric Unica New похожа на их дизайн: она только обрадует потребителя. А значит, нет больше причин отказывать себе не только в качественных, но при этом и в красивых изделиях. Достаточно просто заказать их на нашем сайте и украсить интерьер дома, офиса или любого другого пространства долговечными, симпатичными и надёжными электроустройствами. При этом отдельно радует то, что каждый сможет подобрать именно те варианты, которые максимально соответствуют его требованиям и желаниям!</p>
			<blockquote>Наша специализация: поставка электроинструмента, бензоинструмента, оборудования и принадлежностей.Имея многолетний опыт в этой сфере мы можем предложить своим клиентам широкий выбор товаров и услуг, наш инструмент прочно обосновался на многих предприятиях различных городов России. Работая с оптовыми клиентами, розничными покупателями и франчайзи, «ТМК» является одним из крупнейших импортеров продаваемой продукции
				<div class="blockquote-author">автор цитаты</div>
			</blockquote>

			<h3>Ненумерованный список (h3)</h3>
			<ul>
				<li>Более 100 магазинов по России</li>
				<li>Быстрая доставка заказов</li>
				<li>Наши авторизованные центры проводят гарантийное и постгарантийное обслуживание электроинструмента, силового оборудования и садовой техники.</li>
			</ul>
			<h3>Ненумерованный список (h3)</h3>
			<ol>
				<li>Вам не придется тратить время на то, чтобы разбираться в настройках инструмента. Наши специалисты помогут подобрать и подготовить инструмент к работе.</li>
				<li>Выбирая из ассортимента более 15 000 наименований инструмента и оборудования, вы всегда можете рассчитывать, что ваш заказ будет доставлен вовремя.</li>
				<li>Розничная сеть постоянно расширяется, сейчас наши магазины представлены в более чем 70 городах по всей России.</li>
			</ol>

			<figure>
				<picture>
					<source srcset="img/media/webp/content-img-3.webp" type="image/webp">
					<source srcset="img/media/content-img-3.png" type="image/png">
					<img src="img/media/content-img-3.png" width="1010" height="384" alt="" loading="lazy">
				</picture>
				<figcaption>Подпись к изображению</figcaption>
			</figure>

			<h2>Таблица (h2)</h2>
			<p>При этом стоимость предложений Schneider Electric Unica New похожа на их дизайн: она только обрадует потребителя. А значит, нет больше причин отказывать себе не только в качественных, но при этом и в красивых изделиях. Достаточно просто заказать их на нашем сайте и украсить интерьер дома, офиса или любого другого пространства долговечными, симпатичными и надёжными электроустройствами. При этом отдельно радует то, что каждый сможет подобрать именно те варианты, которые максимально соответствуют его требованиям и желаниям!</p>
			<div class="uk-overflow-auto">
				<table>
					<thead>
						<tr>
							<th rowspan="3" class="border-right">Сечение
								<br>
								токопроводящей жилы, мм<sup>²</sup>
							</th>
							<th colspan="3" class="border-bottom">Для проводов проложенных:</th>
						</tr>
						<tr>
							<th>Открыто</th>
							<th>В одной трубе</th>
							<th></th>
						</tr>
						<tr>
							<th></th>
							<th>Двуходножильных</th>
							<th>Треходножильных</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>0.5</td>
							<td>1</td>
							<td>—</td>
							<td>—</td>
						</tr>
						<tr>
							<td>0.75</td>
							<td>15</td>
							<td>—</td>
							<td>—</td>
						</tr>

						<tr>
							<td>1</td>
							<td>17</td>
							<td>16</td>
							<td>15</td>

						</tr>

						<tr>
							<td>1.5</td>
							<td>23</td>
							<td>19</td>
							<td>17</td>
						</tr>
						<tr>
							<td>2.5</td>
							<td>30</td>
							<td>27</td>
							<td>25</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	<!-- end content-section -->
{% endblock %}
