{% extends "../layouts/inner-page.twig" %}
{% set title="Бренды" %}
{% set bread = ['Главная', 'Каталог', 'Бренды'] %}

{% block content %}

	<!-- begin brands-section -->
	<section class="brands-section">
		<div class="uk-container">
			<h1>Бренды</h1>

			<div class="brands-filter">
				<div class="brands-list-names-wrapper">
					<ul class="brands-list-names">
						<li filter-control="A">
							<a>A</a>
						</li>
						<li filter-control="B">
							<a>B</a>
						</li>
						<li filter-control="C">
							<a>C</a>
						</li>
						<li filter-control="D">
							<a>D</a>
						</li>
						<li filter-control="E">
							<a>E</a>
						</li>
						<li filter-control="G">
							<a>G</a>
						</li>
						<li filter-control="I">
							<a>I</a>
						</li>
						<li filter-control="J">
							<a>J</a>
						</li>
						<li filter-control="L">
							<a>L</a>
						</li>
						<li filter-control="N">
							<a>N</a>
						</li>
						<li filter-control="R">
							<a>R</a>
						</li>
						<li filter-control="S">
							<a>S</a>
						</li>
						<li filter-control="T">
							<a>T</a>
						</li>
						<li filter-control="V">
							<a>V</a>
						</li>
						<li filter-control="W">
							<a>W</a>
						</li>
						<li filter-control="Z">
							<a>Z</a>
						</li>
						<li filter-control="Б">
							<a>Б</a>
						</li>
						<li filter-control="В">
							<a>В</a>
						</li>
						<li filter-control="Г">
							<a>Г</a>
						</li>
						<li filter-control="Е">
							<a>Е</a>
						</li>
						<li filter-control="З">
							<a>З</a>
						</li>
						<li filter-control="К">
							<a>К</a>
						</li>
						<li filter-control="М">
							<a>М</a>
						</li>
						<li filter-control="П">
							<a>П</a>
						</li>
						<li filter-control="Р">
							<a>Р</a>
						</li>
						<li filter-control="С">
							<a>С</a>
						</li>
						<li filter-control="Э">
							<a>Э</a>
						</li>
					</ul>
					<a href="#" class="brands-reset" role="button" filter-control="reset">Сбросить</a>
				</div>

				<ul class="brands-list-logos">
					<li data-name='A'>
						<picture>
							<img src="img/media/brands/brand-img-1.png" alt="">
						</picture>
						<a href="">
							ABB
						</a>
					</li>
					<li data-name='L'>
						<picture>
							<img src="img/media/brands/brand-img-2.png" alt="">
						</picture>
						<a href="">
							Legrand
						</a>
					</li>
					<li data-name='B'>
						<picture>
							<img src="img/media/brands/brand-img-3.png" alt="">
						</picture>
						<a href="">
							Berker
						</a>
					</li>
					<li data-name='D'>
						<picture>
							<img src="img/media/brands/brand-img-4.png" alt="">
						</picture>
						<a href="">
							DKC
						</a>
					</li>
					<li data-name='G'>
						<picture>
							<img src="img/media/brands/brand-img-5.png" alt="">
						</picture>
						<a href="">
							Gauss
						</a>
					</li>
					<li data-name='W'>
						<picture>
							<img src="img/media/brands/brand-img-6.png" alt="">
						</picture>
						<a href="">
							Wago
						</a>
					</li>
					<li data-name='I'>
						<picture>
							<img src="img/media/brands/brand-img-7.png" alt="">
						</picture>
						<a href="">
							Inteps
						</a>
					</li>
					<li data-name='N'>
						<picture>
							<img src="img/media/brands/brand-img-8.png" alt="">
						</picture>
						<a href="">
							Nexans
						</a>
					</li>
					<li data-name='E'>
						<picture>
							<img src="img/media/brands/brand-img-9.png" alt="">
						</picture>
						<a href="">
							Eleganz
						</a>
					</li>
					<li data-name='C'>
						<picture>
							<img src="img/media/brands/brand-img-10.png" alt="">
						</picture>
						<a href="">
							CTV
						</a>
					</li>
					<li data-name='W'>
						<picture>
							<img src="img/media/brands/brand-img-11.png" alt="">
						</picture>
						<a href="">
							Werkell
						</a>
					</li>
					<li data-name='З'>
						<picture>
							<img src="img/media/brands/brand-img-12.png" alt="">
						</picture>
						<a href="">
							Зэтарус
						</a>
					</li>
					<li data-name='G'>
						<picture>
							<img src="img/media/brands/brand-img-13.png" alt="">
						</picture>
						<a href="">
							Gira
						</a>
					</li>
					<li data-name='G'>
						<picture>
							<img src="img/media/brands/brand-img-14.png" alt="">
						</picture>
						<a href="">
							Greenel
						</a>
					</li>
					<li data-name='V'>
						<picture>
							<img src="img/media/brands/brand-img-15.png" alt="">
						</picture>
						<a href="">
							Viko
						</a>
					</li>

				</ul>
			</div>
		</div>
	</section>
	<!-- end brands-section -->

{% endblock %}
