{% extends "../layouts/inner-page.twig" %}
{% set title="Каталог электрооборудования" %}
{% set bread = ['Главная', 'Каталог электрооборудования'] %}
{% block content %}
	<!-- begin catalog-group-section -->
	<section class="catalog-group-section">
		<div class="uk-container">
			<h1>Каталог электрооборудования</h1>

			<section class="catalog-group">
				<div class="catalog-list">
					<div class="uk-grid uk-grid-collapse" uk-grid="masonry: true">
						<div class="uk-width-1-2@s">
							<div class="catalog-list__item">
								<div class="catalog-item catalog-item">
									<div class="catalog-item__title">
										<a href="">Провод и кабель. Муфты. Аксессуары</a>
									</div>
									<ul class="catalog-item__links">
										<li>
											<a href="">Провод и кабель</a>
										</li>
										<li>
											<a href="">Наконечники. Гильзы</a>
										</li>
										<li>
											<a href="">Муфты кабельные</a>
										</li>
										<li>
											<a href="">Маркировка</a>
										</li>
										<li>
											<a href="">Распродажа</a>
										</li>
									</ul>

									<div class="catalog-item__img">
										<img src="img/media/catalog-preview-img-1.png" alt="" loading="lazy">
									</div>
								</div>
							</div>
						</div>
						<div class="uk-width-1-2@s">
							<div class="catalog-list__item">
								<div class="catalog-item catalog-item">
									<div class="catalog-item__title">
										<a href="">Электрооборудование</a>
									</div>
									<ul class="catalog-item__links">
										<li>
											<a>Автоматы.</a>
											<a>УЗО.</a>
											<a>Дифавтоматы</a>
										</li>
										<li>
											<a>Реле.</a>
											<a>Пускатели.</a>
											<a>Контакторы</a>
										</li>
										<li>
											<a>Рубильники.</a>
											<a>Разъединители</a>
										</li>
										<li>
											<a>Молниезащита.</a>
											<a>Заземление.</a>
											<a>Ограничители перенапряжения</a>
										</li>
										<li>
											<a>Электросчетчики.</a>
											<a>Трансформаторы тока.</a>
											<a>Щитовые приборы</a>
										</li>
										<li>
											<a>Электрощиты</a>
										</li>
										<li>
											<a>Трансформаторы.</a>
											<a>Стабилизаторы.</a>
											<a>Блоки питания.</a>
											<a>Инверторы</a>
										</li>
										<li>
											<a>Плавкие вставки.</a>
											<a>Предохранители.</a>
											<a>Конденсаторы.</a>
										</li>
										<li>
											<a>Комплектующие для УКРМ</a>
										</li>
										<li>
											<a>Пакетные и концевые выключатели</a>
										</li>
										<li>
											<a>Микровыключатели.</a>
											<a>Бесконтактные выключатели</a>
										</li>
										<li>
											<a>Кнопки, кнопочные посты.</a>
											<a>Светосигнальная арматура</a>
										</li>
										<li>
											<a>Тумблеры</a>
										</li>
										<li>
											<a>Шкафы.</a>
											<a>Боксы.</a>
											<a>Аксессуары</a>
										</li>
										<li>
											<a>Шины.</a>
											<a>Изоляторы.</a>
											<a>Перемычки</a>
										</li>
										<li>
											<a>Электродвигатели.</a>
											<a>Устройства плавного пуска</a>
										</li>
										<li>
											<a>Преобразователи частоты.</a>
											<a>Электромагниты.</a>
										</li>
										<li>
											<a>Распродажа.</a>
										</li>
									</ul>


									<div class="catalog-item__img">
										<img src="img/media/catalog-preview-img-2.png" alt="" loading="lazy">
									</div>
								</div>
							</div>
						</div>
						<div class="uk-width-1-2@s">
							<div class="catalog-list__item">
								<div class="catalog-item catalog-item">
									<div class="catalog-item__title">
										<a href="">Электроустановочные изделия</a>
									</div>
									<ul class="catalog-item__links">
										<li>
											<a>Розетки.</a>
											<a>Выключатели.</a>
											<a>Светорегуляторы.</a>
											<a>Звонки</a>
										</li>
										<li>
											<a>Вилки.</a>
											<a>Разъемы.</a>
											<a>Удлинители.</a>
											<a>Сетевые фильтры.</a>
										</li>
										<li>
											<a>Адаптеры питания</a>
										</li>
										<li>
											<a>Коробки.</a>
											<a>Сальники.</a>
											<a>Патрубки.</a>
											<a>Кабельные вводы</a>
										</li>
										<li>
											<a>TV ресиверы, антенны, усилители. Аксессуары для TV, телефонии</a>
										</li>
										<li>
											<a>и компьютерных сетей</a>
										</li>
										<li>
											<a>Домофоны.</a>
											<a>Извещатели.</a>
											<a>ИБП.</a>
											<a>АКБ.</a>
											<a>Зарядные устройства</a>
										</li>
										<li>
											<a>Клеммники.</a>
											<a>Клеммы.</a>
											<a>Сжимы.</a>
											<a>Соединители</a>
										</li>
										<li>
											<a>Распродажа остатков уценка.</a>
											<a>Розетки.</a>
											<a>Выключатели</a>
										</li>
										<li>
											<a>Светорегуляторы.</a>
											<a>Звонки</a>
										</li>
										<li>
											<a>Распродажа остатков.</a>
											<a>Клеммники.</a>
											<a>Коробки.</a>
											<a>Разъемы Удлинители.</a>
										</li>
										<li>
											<a>Телефония.</a>
											<a>Телевидение</a>
										</li>
									</ul>


									<div class="catalog-item__img">
										<img src="img/media/catalog-preview-img-3.png" alt="" loading="lazy">
									</div>
								</div>
							</div>
						</div>

						<div class="uk-width-1-2@s">
							<div class="catalog-list__item">
								<div class="catalog-item">
									<div class="catalog-item__title">
										<a href="">Инструмент. Контрольно-измерительные приборы</a>
									</div>
									<ul class="catalog-item__links">
										<li>
											<a>Электроинструмент.</a>
											<a>Сверла, буры, коронки, круги отрезные, биты</a>
										</li>
										<li>
											<a>Пресс-клещи.</a>
											<a>Губцевый инструмент.</a>
											<a>Инструмент для снятия изоляции.</a>
											<a>Кабелерезы</a>
										</li>
										<li>
											<a>Отвертки.</a>
											<a>Ключи.</a>
											<a>Наборы инструментов</a>
										</li>
										<li>
											<a>Ручной инструмент.</a>
											<a>Рулетки.</a>
											<a>Уровни.</a>
											<a>Струбцины</a>
										</li>
										<li>
											<a>Электрические паяльники.</a>
											<a>Газовые горелки и паяльные лампы.</a>
										</li>
										<li>
											<a>Сварочное оборудование</a>
										</li>
										<li>
											<a>Устройства закладки кабеля</a>
										</li>
										<li>
											<a>Средства индивидуальной защиты и охрана труда</a>
										</li>
										<li>
											<a>Лестницы.</a>
											<a>Стремянки.</a>
											<a>Вышки-туры</a>
										</li>
										<li>
											<a>Контрольно-измерительные приборы</a>
										</li>
										<li>
											<a>Распродажа</a>
										</li>
									</ul>

									<div class="catalog-item__img">
										<img src="img/media/catalog-preview-img-5.png" alt="" loading="lazy">
									</div>
								</div>
							</div>
						</div>
						<div class="uk-width-1-2@s">
							<div class="catalog-list__item">
								<div class="catalog-item">
									<div class="catalog-item__title">
										<a href="">Светотехника. Лампы</a>
									</div>
									<ul class="catalog-item__links">
										<li>
											<a>Светильники.</a>
											<a>Светодиодные светильники и ленты</a>
										</li>
										<li>
											<a>Прожекторы.</a>
											<a>Датчики движения</a>
										</li>
										<li>
											<a>Лампы.</a>
											<a>Электропатроны</a>
										</li>
										<li>
											<a>Драйверы.</a>
											<a>Дроссели.</a>
											<a>ИЗУ.</a>
											<a>Стартеры.</a>
											<a>Конденсаторы.</a>
										</li>
										<li>
											<a>Трансформаторы 220/12В.</a>
											<a>Блоки питания и защиты</a>
										</li>
										<li>
											<a>Батарейки.</a>
											<a>Аккумуляторы.</a>
											<a>Зарядные устройства</a>
										</li>
										<li>
											<a>Фонари</a>
										</li>
										<li>
											<a>Распродажа</a>
										</li>
									</ul>

									<div class="catalog-item__img">
										<img src="img/media/catalog-preview-img-4.png" alt="" loading="lazy">
									</div>
								</div>
							</div>
						</div>
						<div class="uk-width-1-2@s">
							<div class="catalog-item">
								<div class="catalog-item__title">
									<a href="">Электромонтажные материалы и Крепеж</a>
								</div>
								<ul class="catalog-item__links">
									<li>
										<a>Материалы</a>
									</li>
									<li>
										<a>Крепеж.</a>
										<a>Метизы.</a>
										<a>Хомуты</a>
									</li>
									<li>
										<a>Кабельные лотки, напольные лючки и розеточные блоки</a>
									</li>
									<li>
										<a>Кабельные каналы.</a>
										<a>Колонны и башенки напольные</a>
									</li>
									<li>
										<a>Распродажа</a>
									</li>
								</ul>

								<div class="catalog-item__img">
									<img src="img/media/catalog-preview-img-7.png" alt="" loading="lazy">
								</div>
							</div>
						</div>
						<div class="uk-width-1-2@s">
							<div class="catalog-list__item">
								<div class="catalog-item">
									<div class="catalog-item__title">
										<a href="">Теплотехника. Вентиляция. Насосы</a>
									</div>
									<ul class="catalog-item__links">
										<li>
											<a>Электроинструмент.</a>
											<a>Сверла, буры, коронки, круги отрезные, биты</a>
										</li>
										<li>
											<a>Пресс-клещи.</a>
											<a>Губцевый инструмент.</a>
											<a>Инструмент для снятия изоляции.</a>
											<a>Кабелерезы</a>
										</li>
										<li>
											<a>Отвертки. Ключи.</a>
											<a>Наборы инструментов</a>
										</li>
										<li>
											<a>Ручной инструмент.</a>
											<a>Рулетки.</a>
											<a>Уровни.</a>
											<a>Струбцины</a>
										</li>
										<li>
											<a>Электрические паяльники.</a>
											<a>Газовые горелки и паяльные лампы.</a>
										</li>
										<li>
											<a>Сварочное оборудование</a>
										</li>
										<li>
											<a>Устройства закладки кабеля</a>
										</li>
										<li>
											<a>Средства индивидуальной защиты и охрана труда</a>
										</li>
										<li>
											<a>Лестницы.</a>
											<a>Стремянки.</a>
											<a>Вышки-туры</a>
										</li>
										<li>
											<a>Контрольно-измерительные приборы</a>
										</li>
										<li>
											<a>Распродажа</a>
										</li>
									</ul>

									<div class="catalog-item__img">
										<img src="img/media/catalog-preview-img-6.png" alt="" loading="lazy">
									</div>
								</div>
							</div>
							<div class="catalog-list__item"></div>
						</div>

					</div>
				</div>
			</section>

			<div class="seo-block">
				<div class="uk-grid">
					<div class="uk-width-1-3@m">
						<div class="seo-block__title">
							<div class="title-h1">Кто мы</div>
						</div>
					</div>
					<div class="uk-width-2-3@m">
						<div class="seo-block__text">
							<p>Интернет-магазин EL-WATT занимается продажей сертифицированной электротехнической продукции. В наличии качественные электротовары известных брендов. Сотрудники компании тщательно проверяют состояние каждого изделия на предмет отсутствия каких-либо дефектов и признаков заводского брака. Доставка электротоваров возможна по всей территории Москвы, Московской области и других регионов.</p>
							<a href="">О компании</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end catalog-group-section -->
{% endblock %}
