{% extends "../layouts/inner-page.twig" %}
{% set title="Сравнить товары" %}
{% set bread = ['Главная', 'Каталог'] %}
{% block content %}
	<!-- begin comparison-section -->
	<section class="comparison-section">
		<div class="uk-container">
			<h1>Сравнить товары</h1>

			<div class="border-panel">
				<div class="buttons-wrapper">
					<label for="radio-1" class="custom-radio">
						<input id="radio-1" type="radio" name="diff" checked>
						<span class="custom-radio__input"></span>
						<span class="custom-radio__label">Все характеристики</span>
					</label>

					<label for="radio-2" class="custom-radio">
						<input id="radio-2" type="radio" name="diff">
						<span class="custom-radio__input"></span>
						<span class="custom-radio__label">Только различающиеся</span>
					</label>
				</div>
			</div>


			<div class="comparison-list">
				<div class="comparison-list__inner">
					{% for i in 1..5 %}
						{% if i == 1 %}
							<div class="comparison-list__item">
								<div class="product-card">
									<header class="product-card__header">
										<div class="product-card__img" uk-lightbox>
											<a href="img/media/catalog/catalog-img-{{i}}.png">
												<img src="img/media/catalog/catalog-img-{{i}}.png" alt="" loading="lazy">
											</a>
										</div>
										<div class="stocks">
											<div class="stocks__new">новое</div>
										</div>
										<div class="product-card__toolbar">
											<a href="" class="favorite active"></a>
											<a href="" class="delete-item"></a>
										</div>
									</header>
									<section class="product-card__body">
										<div class="product-card__title">
											<a href="">
												А2702. Автоматический выключатель SH201L С10А/1п/ 4,5кА на Din-рейку 2CDS241001R0104 C10 (ABB)</a>
										</div>
										<div class="product-card__footer">
											<div class="product-card__prices">
												<div class="old-price">323.16 ₽</div>
												<div class="current-price">306.06 ₽</div>
											</div>
											<div class="product-card__controls">
												<div class="calc">
													<span class="calc__min">
														<svg width="16px" height="24px" class="icon-minus">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#minus"></use>
														</svg>
													</span>
													<input type="text" class="calc__value" value="1">
													<span class="calc__plus">
														<svg width="16px" height="24px" class="icon-plus">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#plus"></use>
														</svg>
													</span>
												</div>
												<a href="" class="btn btn--red btn--icon">
													<svg width="20px" height="19px" class="icon-cart">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#cart"></use>
													</svg>
													В Корзину
												</a>
											</div>
										</div>
									</section>
								</div>

								<table class="table-comparison">
									<tbody>
										<tr>
											<td>
												<div class="td-title">Производитель</div>
												ABB
											</td>
										</tr>
										<tr>

											<td>
												<div class="td-title">Артикул</div>2CDS241001R0104</td>
										</tr>
										<tr>

											<td>
												<div class="td-title">Номинальный ток</div>16А</td>
										</tr>
										<tr>

											<td>
												<div class="td-title">Материал</div>пластик</td>
										</tr>
									</tbody>
								</table>
							</div>
						{% else %}

							<div class="comparison-list__item">
								<div class="product-card">
									<header class="product-card__header">
										<div class="product-card__img" uk-lightbox>
											<a href="img/media/catalog/catalog-img-{{i}}.png">
												<img src="img/media/catalog/catalog-img-{{i}}.png" alt="" loading="lazy">
											</a>
										</div>
										<div class="stocks">
											<div class="stocks__new">новое</div>
										</div>
										<div class="product-card__toolbar">
											<a href="" class="favorite"></a>
											<a href="" class="delete-item"></a>
										</div>
									</header>
									<section class="product-card__body">
										<div class="product-card__title">
											<a href="">
												А2702. Автоматический выключатель SH201L С10А/1п/ 4,5кА на Din-рейку 2CDS241001R0104 C10 (ABB)</a>
										</div>
										<div class="product-card__footer">
											<div class="product-card__prices">
												<div class="old-price">323.16 ₽</div>
												<div class="current-price">306.06 ₽</div>
											</div>
											<div class="product-card__controls">
												<div class="calc">
													<span class="calc__min">
														<svg width="16px" height="24px" class="icon-minus">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#minus"></use>
														</svg>
													</span>
													<input type="text" class="calc__value" value="1">
													<span class="calc__plus">
														<svg width="16px" height="24px" class="icon-plus">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#plus"></use>
														</svg>
													</span>
												</div>
												<a href="" class="btn btn--red btn--icon">
													<svg width="20px" height="19px" class="icon-cart">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#cart"></use>
													</svg>
													В Корзину
												</a>
											</div>
										</div>
									</section>
								</div>

								<table class="table-comparison">
									<tbody>
										<tr>
											<td>ABB</td>
										</tr>
										<tr>
											<td>2CDS241001R0104</td>
										</tr>
										<tr>
											<td>16А</td>
										</tr>
										<tr>
											<td>пластик</td>
										</tr>
									</tbody>
								</table>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<!-- end comparison-section -->

{% endblock %}
