{% extends "../layouts/inner-page.twig" %}
{% set title="ABB" %}
{% set bread = ['Главная', 'Каталог', 'Электрооборудование', 'Автоматические выключатели'] %}

{% block content %}

	<!-- begin detail-section -->
	<section class="detail-section">
		<div class="uk-container">
			<h1>Выключатель двухклавишный ABB Dynasty (антрацит) 2CKA001012A2108+2CKA001751A2930</h1>
			<div class="detail-top-bar">
				<div class="product-favorite">
					<a href="" class="added uk-hidden">Добавлено в избранное</a>
					<a href="" class="add ">Добавить в избранное</a>
				</div>
				<div class="product-comparison">
					<a href="" class="added uk-hidden">
						Добавлено в сравнение
					</a>
					<a href="" class="add">
						Добавить в сравнение
					</a>
				</div>
				<div class="product-reviews">

					<a href="#tab-reviews" class="product-reviews__text" uk-scroll="offset: 80">Отзывы
						<span class="product-reviews__count">2</span>
					</a>


				</div>
			</div>

			<!-- begin detail-card -->
			<div class="detail-card">
				<div class="uk-grid">
					<div class="uk-width-2-3@m">
						<div class="uk-grid">
							<div class="uk-width-2-3@m">
								<div class="detail-slider-wrapper">
									<div class="detail-slider">
										<div class="slider">
											{% for i in 1..2 %}
												<div class="slide" uk-lightbox>
													<a href="img/media/sliders/detail-slide-1-desk.png">
														<picture class="slide__img">
															<source srcset="img/media/webp/detail-slide-2-desk.webp" media="(min-width: 768px)" type="image/webp">
															<source srcset="img/media/webp/detail-slide-2-mob.webp" media="(min-width: 320px)" type="image/webp">
															<source srcset="img/media/sliders/detail-slide-2-mob.png" media="(min-width: 768px)" type="image/png">
															<source srcset="img/media/sliders/detail-slide-2-mob.png" media="(min-width: 320px)" type="image/png">
															<img src="img/media/sliders/detail-slide-2-desk.png" alt="" loading="lazy">
														</picture>

														<i class="zoom">
															<svg width="24px" height="24px" class="icon-zoom">
																<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#zoom"></use>
															</svg>
														</i>
													</a>
												</div>
											{% endfor %}
										</div>
									</div>
									<div class="stocks">
										<div class="stocks__hit">хит</div>
										<div class="stocks__new">новое</div>
									</div>
								</div>
							</div>
							<div class="uk-width-1-3@m">
								<div class="detail-card__options-list">
									<div class="detail-card__option">
										<div class="detail-card__option-title">Выберите цвет</div>
										<div class="detail-card__option-value">
											<div class="custom-select">
												<select name="" id="" class="js__select2">
													<option value="1">Черный</option>
													<option value="2">Черный2</option>
													<option value="3">Черный3</option>
												</select>
											</div>
										</div>
									</div>
									<div class="detail-card__option">
										<div class="detail-card__option-title">Выберите размер</div>
										<div class="detail-card__option-value">
											<div class="custom-select">
												<select name="" id="" class="js__select2">
													<option value="">40х60 мм</option>
												</select>
											</div>
										</div>
									</div>

									<div class="detail-card__option">
										<div class="detail-card__option-title">Выберите тип</div>
										<div class="detail-card__option-value">
											<div class="custom-select">
												<select name="" id="" class="js__select2">
													<option value="">Двойной</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="detail-card__options-list uk-visible@m">
									<div class="detail-card__option">
										<div class="detail-card__option-title">Производитель</div>
										<div class="detail-card__option-value">ABB</div>
									</div>
									<div class="detail-card__option">
										<div class="detail-card__option-title">Артикул</div>
										<div class="detail-card__option-value">2CDS241001R0104</div>
									</div>

									<a href="#tab-feature" uk-scroll="offset: 80">Все характеристики</a>
								</div>


							</div>
						</div>
					</div>
					<div class="uk-width-1-3@m">
						<div class="detail-card-order">
							<div class="exists-product">
								В наличии
							</div>
							<div class="exists-product exists-product--warning uk-hidden">
								Нет в наличии
							</div>

							<div class="detail-card-order__price">
								<div class="old-price">829.68 ₽</div>
								<div class="current-price">765.30 ₽</div>
							</div>

							<div class="detail-card-order__controls">
								<div class="calc">
									<span class="calc__min">
										<svg width="16px" height="24px" class="icon-minus">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#minus"></use>
										</svg>
									</span>
									<input type="text" class="calc__value" value="1">
									<span class="calc__plus">
										<svg width="16px" height="24px" class="icon-plus">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#plus"></use>
										</svg>
									</span>
								</div>
								<a href="" class="btn btn--red btn--icon">
									<svg width="20px" height="19px" class="icon-cart">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#cart"></use>
									</svg>
									В Корзину
								</a>
							</div>

							<div class="accordion">
								<div class="accordion__title">
									<div class="accordion__icon">
										<img src="img/icon-svg/price.svg" width="22" height="37" alt="" loading="lazy">
									</div>
									Низкие цены
								</div>
								<div class="accordion__desc">
									Выстроенные  отношения с крупнейшими производителями и дистрибьюторами рынка электротехники, дают нам возможность предлагать  вам более низкие цены, предоставлять дополнительные скидки и бонусы.
								</div>

								<div class="accordion__title">
									<div class="accordion__icon">
										<img src="img/icon-svg/logistic.svg" width="26" height="37" alt="" loading="lazy">
									</div>
									Логистика
								</div>
								<div class="accordion__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, exercitationem!</div>

								<div class="accordion__title">
									<div class="accordion__icon">
										<img src="img/icon-svg/safe.svg" width="27" height="37" alt="" loading="lazy">
									</div>
									Сертифицированный товар
								</div>
								<div class="accordion__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, sapiente!@m</div>

								<div class="accordion__title">
									<div class="accordion__icon">
										<img src="img/icon-svg/experience.svg" width="40" height="23" alt="" loading="lazy">
									</div>
									Опыт
								</div>
								<div class="accordion__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, sapiente!@m</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<section class="default-section">
				<div class="title-h2">В составе комплекта</div>
				<div class="detail-complect">
					<div class="uk-grid uk-grid-collapse">
						<div class="uk-width-1-2@s">
							<div class="product-card product-card--hoz">
								<header class="product-card__header">
									<div class="product-card__img" uk-lightbox>
										<a href="img/media/complect-img-1.png">
											<img src="img/media/complect-img-1.png" alt="" loading="lazy">
										</a>
									</div>
									<div class="stocks">
										<div class="stocks__hit">хит</div>
										<div class="stocks__new">новое</div>
									</div>
									<div class="product-card__toolbar">
										<a href="" class="favorite"></a>
										<a href="" class="comparison"></a>
									</div>
								</header>
								<section class="product-card__body">
									<div class="product-card__title">
										<a href="">Aвтоматический выключатель ABB 1-полюсный SH201L C10 однофазный</a>
									</div>
									<div class="product-card__footer">
										<div class="product-card__prices">
											<div class="old-price"></div>
											<div class="current-price">306.06 ₽</div>
										</div>
										<div class="product-card__controls">
											<div class="calc">
												<span class="calc__min">
													<svg width="16px" height="24px" class="icon-minus">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#minus"></use>
													</svg>
												</span>
												<input type="text" class="calc__value" value="1">
												<span class="calc__plus">
													<svg width="16px" height="24px" class="icon-plus">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#plus"></use>
													</svg>
												</span>
											</div>
											<a href="" class="btn btn--red btn--icon">
												<svg width="20px" height="19px" class="icon-cart">
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#cart"></use>
												</svg>
												В Корзину
											</a>
										</div>
									</div>
								</section>
							</div>
						</div>
						<div class="uk-width-1-2@s">
							<div class="product-card product-card--hoz">
								<header class="product-card__header">
									<div class="product-card__img" uk-lightbox>
										<a href="img/media/complect-img-2.png">
											<img src="img/media/complect-img-2.png" alt="" loading="lazy">
										</a>
									</div>
									<div class="stocks">
										<div class="stocks__hit">хит</div>
										<div class="stocks__new">новое</div>
									</div>
									<div class="product-card__toolbar">
										<a href="" class="favorite"></a>
										<a href="" class="comparison"></a>
									</div>
								</header>
								<section class="product-card__body">
									<div class="product-card__title">
										<a href="">Aвтоматический выключатель ABB 1-полюсный SH201L C10 однофазный</a>
									</div>
									<div class="product-card__footer">
										<div class="product-card__prices">
											<div class="old-price"></div>
											<div class="current-price">306.06 ₽</div>
										</div>
										<div class="product-card__controls">
											<div class="calc">
												<span class="calc__min">
													<svg width="16px" height="24px" class="icon-minus">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#minus"></use>
													</svg>
												</span>
												<input type="text" class="calc__value" value="1">
												<span class="calc__plus">
													<svg width="16px" height="24px" class="icon-plus">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#plus"></use>
													</svg>
												</span>
											</div>
											<a href="" class="btn btn--red btn--icon">
												<svg width="20px" height="19px" class="icon-cart">
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#cart"></use>
												</svg>
												В Корзину
											</a>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end detail-card -->

			{% include "../includes/components/tabs.twig" %}

			<div class="slider-wrapper">
				<div class="title-h2">К этому товару рекомендуем</div>
				<div class="additional-slider">
					<div class="slider">

						<div class="slide">
							<div class="additional-product">
								<div class="additional-product__img">
									<img src="img/media/sliders/add-img-66x66-1.png" alt="" loading="lazy">
								</div>
								<div class="additional-product__text">
									<a href="">Щиты распределительные</a>
								</div>
							</div>
						</div>
						<div class="slide">
							<div class="additional-product">
								<div class="additional-product__img">
									<img src="img/media/sliders/add-img-66x66-2.png" alt="" loading="lazy">
								</div>
								<div class="additional-product__text">
									<a href="">Магнитные пускатели и контакторы</a>
								</div>
							</div>
						</div>
						<div class="slide">
							<div class="additional-product">
								<div class="additional-product__img">
									<img src="img/media/sliders/add-img-66x66-3.png" alt="" loading="lazy">
								</div>
								<div class="additional-product__text">
									<a href="">Стабилизаторы напряжения</a>
								</div>
							</div>
						</div>
						<div class="slide">
							<div class="additional-product">
								<div class="additional-product__img">
									<img src="img/media/sliders/add-img-66x66-4.png" alt="" loading="lazy">
								</div>
								<div class="additional-product__text">
									<a href="">Удлинители</a>
								</div>
							</div>
						</div>

						<div class="slide">
							<div class="additional-product">
								<div class="additional-product__img">
									<img src="img/media/sliders/add-img-66x66-3.png" alt="" loading="lazy">
								</div>
								<div class="additional-product__text">
									<a href="">Магнитные пускатели и контакторы</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="slider-wrapper">
				<div class="title-h2">Аналоги</div>

				<div class="products-slider">
					<div class="slider">
						{% for i in 1..4 %}
							<div class="slide">
								<div class="product-card">
									<header class="product-card__header">
										<div class="product-card__img" uk-lightbox>
											<a href="img/media/catalog/catalog-img-{{i}}.png">
												<img src="img/media/catalog/catalog-img-{{i}}.png" alt="" loading="lazy">
											</a>
										</div>
										<div class="stocks">
											<div class="stocks__new">новое</div>
										</div>
										<div class="product-card__toolbar">
											<a href="" class="favorite"></a>
											<a href="" class="comparison"></a>
										</div>
									</header>
									<section class="product-card__body">
										<div class="product-card__title">
											<a href="">
												Ю2937. Рамка-2 9209-82-GS золото с серебристой вставкой (Электромонтаж)</a>
										</div>
										<div class="product-card__footer">
											<div class="product-card__prices">
												<div class="old-price">323.16 ₽</div>
												<div class="current-price">306.06 ₽</div>
											</div>
											<div class="product-card__controls">
												<div class="calc">
													<span class="calc__min">
														<svg width="16px" height="24px" class="icon-minus">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#minus"></use>
														</svg>
													</span>
													<input type="text" class="calc__value" value="1">
													<span class="calc__plus">
														<svg width="16px" height="24px" class="icon-plus">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#plus"></use>
														</svg>
													</span>
												</div>
												<a href="" class="btn btn--red btn--icon">
													<svg width="20px" height="19px" class="icon-cart">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#cart"></use>
													</svg>
													В корзину
												</a>
											</div>
										</div>
									</section>
								</div>
							</div>
						{% endfor %}
						<div class="slide">
							<div class="product-card">
								<header class="product-card__header">
									<div class="product-card__img" uk-lightbox>
										<a href="img/media/catalog/catalog-img-5.png">
											<img src="img/media/catalog/catalog-img-5.png" alt="" loading="lazy">
										</a>
									</div>
									<div class="stocks">
										<div class="stocks__new">новое</div>
									</div>
									<div class="product-card__toolbar">
										<a href="" class="favorite"></a>
										<a href="" class="comparison"></a>
									</div>
								</header>
								<section class="product-card__body">
									<div class="product-card__title">
										<a href="">
											Р7619. Механизм Valena 694280 (774420) розетки "евр" с/п белый (Legrand)</a>
									</div>
									<div class="product-card__footer">
										<div class="product-card__prices">
											<div class="old-price">323.16 ₽</div>
											<div class="current-price">306.06 ₽</div>
										</div>
										<div class="product-card__controls">
											<div class="calc">
												<span class="calc__min">
													<svg width="16px" height="24px" class="icon-minus">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#minus"></use>
													</svg>
												</span>
												<input type="text" class="calc__value" value="1">
												<span class="calc__plus">
													<svg width="16px" height="24px" class="icon-plus">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#plus"></use>
													</svg>
												</span>
											</div>
											<a href="" class="btn btn--red btn--icon">
												<svg width="20px" height="19px" class="icon-cart">
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#cart"></use>
												</svg>
											</a>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="seo-block">
				<div class="uk-grid">
					<div class="uk-width-1-3@m">
						<div class="seo-block__title">
							<div class="title-h1">Польза электро-технических изделий</div>
						</div>
					</div>
					<div class="uk-width-2-3@m">
						<div class="seo-block__text">
							<p>Интернет-магазин EL-WATT занимается продажей сертифицированной электротехнической продукции. 	В наличии качественные электротовары известных брендов. Сотрудники компании тщательно проверяют состояние каждого изделия на предмет отсутствия каких-либо дефектов и признаков заводского брака. Доставка электротоваров возможна по всей территории Москвы, Московской области и других регионов.</p>
							<p>Если вы не смогли найти определенный товар на страницах нашего интернет магазина электрики, мы готовы оформить заявку под заказ и найти наиболее выгодное для вас предложение. Наших постоянных оптовых клиентов мы всегда поощряем дополнительными скидками или услугами. При особо тесном сотрудничестве наш магазин может предоставить рассрочку на выплату суммы за партию товаров.</p>
							<a href="">О компании</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end detail-section -->

{% endblock %}
