@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Regular.woff2") format("woff2"),
    url("../fonts/inter/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/akrobat/Akrobat-Bold.woff2") format("woff2"),
    url("../fonts/akrobat/Akrobat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/akrobat/Akrobat-ExtraBold.woff2") format("woff2"),
    url("../fonts/akrobat/Akrobat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
