.container {
  margin: 0 auto;
  padding: 0 25px;
  max-width: $containerWidth;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.uk-container {
  max-width: $containerWidth;
  box-sizing: border-box;
}


.default-section {
  margin-bottom: $gutter * 1.5;

  @media (min-width: $tablet-w) {
    margin-bottom: $gutter * 2;
  }
}


.content-section {
  hr {
    margin: $gutter 0;

    @media (min-width: $tablet-w) {
      margin: $gutter * 2 0;
    }
  }
}
