*+h1,
*+h2 {
  margin-top: 30px;
}

h1,
.title-h1,
h2,
.title-h2,
h3,
.title-h3,
h4,
.title-h4,
h5,
.title-h5 {
  color: $prime;
  font-family: $secondFont;
  text-transform: uppercase;
}


h1,
h2 {
  font-weight: 800;
}

h3,
h4,
h5 {
  font-weight: 700;
}

h1,
.title-h1 {
  margin-bottom: $gutter/2;
  @include adpFont(32, 32, 48, 48, 320, 1440);

  &.underline {
    padding-bottom: $gutter/2;
    border-bottom: 1px solid $border;
  }

  @media (min-width: $tablet-w) {
    margin-bottom: $gutter;

    &.underline {
      padding-bottom: $gutter;
      border-bottom: 1px solid $border;
    }
  }

}

h2,
.title-h2 {
  margin-bottom: $gutter/2;
  @include adpFont(24, 30, 32, 32, 320, 1440);
}

h3,
.title-h3 {
  margin-bottom: $gutter/2;
  @include adpFont(18, 22, 24, 30, 320, 1440);
}

p {
  margin-bottom: $gutter/2;

  @media (min-width: $tablet-w) {
    margin-bottom: $gutter;
  }
}


ul:not([class]) {
  @include list-reset;
  margin-bottom: $gutter/2;

  @media (min-width: $tablet-w) {
    margin-bottom: $gutter;
  }

  li {
    position: relative;
    margin-bottom: 12px;
    padding-left: 18px;

    &:before {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $prime;
    }
  }
}


ol:not([class]) {
  @include list-reset;
  margin-bottom: $gutter/2;

  @media (min-width: $tablet-w) {
    margin-bottom: $gutter;
  }

  counter-reset: item;

  li {
    position: relative;
    margin-bottom: 12px;
    padding-left: 32px;


    &:before {
      counter-increment: item;
      content: counter(item);
      position: absolute;
      top: 2px;
      left: 0;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      font-size: 11px;
      line-height: 12px;
      border-radius: 50%;
      background-color: $prime;
    }
  }
}


blockquote {
  margin-bottom: $gutter / 2;
  padding: $gutter / 2;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  background-color: $bg;

  @media (min-width: $tablet-w) {
    margin-bottom: $gutter;
    padding: $gutter;
  }

  .blockquote-author {
    margin-top: $gutter /2;
    @include adpFont(18, 2, 24, 30, 320, 1440);
    text-transform: uppercase;
    color: $prime;
    font-weight: 700;
    font-family: $secondFont;

    @media (min-width: $tablet-w) {
      margin-top: $gutter;
    }
  }
}


a {
  color: $prime;
  transition: color .3s ease;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}
