*+h1,
*+h2 {
  margin-top: 30px;
}

h1,
.title-h1,
h2,
.title-h2,
h3,
.title-h3,
h4,
.title-h4,
h5,
.title-h5 {
  color: $prime;
  font-family: $secondFont;
  text-transform: uppercase;

  &.underline {
    margin-bottom: $gutter / 2;
    padding-bottom: $gutter/2;
    border-bottom: 1px solid $border;

    @media (min-width: $tablet-w) {
      margin-bottom: $gutter;
      padding-bottom: $gutter;
      border-bottom: 1px solid $border;
    }
  }
}


h1,
.title-h1,
h2,
.title-h2 {
  font-weight: 800;
}

h3,
.title-h3,
h4,
.title-h4,
h5,
.title-h5 {
  font-weight: 700;
}

h1,
.title-h1 {
  margin-bottom: $gutter/2;
  @include adpFont(32, 32, 48, 48, 320, 1440);
  word-break: break-word;



  @media (min-width: $tablet-w) {
    margin-bottom: $gutter;
  }

}

*+.title-h1,
*+.title-h2,
*+.title-h3,
*+.title-h4 {
  margin-top: $gutter;
}

.underline {
  margin-bottom: $gutter / 2;
  padding-bottom: $gutter/2;
  border-bottom: 1px solid $border;

  @media (min-width: $tablet-w) {
    margin-bottom: $gutter;
    padding-bottom: $gutter;
    border-bottom: 1px solid $border;
  }
}

h2,
.title-h2 {
  margin-bottom: $gutter/2;
  @include adpFont(24, 30, 32, 32, 320, 1440);
}

h3,
.title-h3 {
  margin-bottom: $gutter/2;
  @include adpFont(18, 22, 24, 30, 320, 1440);
}

.uk-margin-large-top {
  margin-top: $gutter * 2 !important;
}



.uk-margin-large-bottom {
  margin-bottom: $gutter * 2 !important;
}

.uk-margin-large-bottom\@m {
  margin-bottom: $gutter;

  @media (min-width: $tablet-w) {
    margin-bottom: $gutter * 2 !important;
  }
}

p {
  margin-bottom: $gutter/2;
}


ul:not([class]) {
  @include list-reset;
  margin-bottom: $gutter/2;

  @media (min-width: $tablet-w) {
    margin-bottom: $gutter;
  }

  li {
    position: relative;
    margin-bottom: 12px;
    padding-left: 18px;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $prime;
    }
  }
}


ol:not([class]) {
  @include list-reset;
  margin-bottom: $gutter/2;

  @media (min-width: $tablet-w) {
    margin-bottom: $gutter;
  }

  counter-reset: item;

  li {
    position: relative;
    margin-bottom: 12px;
    padding-left: 32px;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      counter-increment: item;
      content: counter(item);
      position: absolute;
      top: 2px;
      left: 0;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      font-size: 11px;
      line-height: 12px;
      border-radius: 50%;
      background-color: $prime;
    }
  }
}

ul.checked-list {
  @include list-reset;
  margin-bottom: $gutter/2;

  @media (min-width: $tablet-w) {
    margin-bottom: $gutter;
  }

  li {
    position: relative;
    margin-bottom: 12px;
    padding-left: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      width: 12px;
      height: 8px;
      background: url('../img/icon-svg/check.svg') center no-repeat;
      background-size: 100%;
    }
  }
}

blockquote {
  margin-bottom: $gutter / 2;
  padding: $gutter / 2;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  background-color: $bg;

  @media (min-width: $tablet-w) {
    margin-bottom: $gutter;
    padding: $gutter;
  }

  .blockquote-author {
    margin-top: $gutter /2;
    @include adpFont(18, 2, 24, 30, 320, 1440);
    text-transform: uppercase;
    color: $prime;
    font-weight: 700;
    font-family: $secondFont;

    @media (min-width: $tablet-w) {
      margin-top: $gutter;
    }
  }
}


a {
  color: $prime;
  transition: color .3s ease;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}


.text-red {
  color: $red;
}


.small-title {
  color: $gray;
}


figure {
  margin-bottom: $gutter;
  text-align: center;

  @media (min-width: $tablet-w) {
    text-align: left;
  }

  figcaption {
    margin-top: $gutter / 2;
    text-align: center;

    @media (min-width: $tablet-w) {
      text-align: left;
    }
  }

  &.prime-figure {
    margin-bottom: $gutter;

    @media (min-width: $tablet-w) {
      margin-bottom: $gutter * 2;
    }
  }
}


.border-right {
  border-right: 1px solid $border;
}

.border-bottom {
  border-bottom: 1px solid $border;
}

table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  thead {
    margin-bottom: 10px;
    tr {
      &:first-child {
        th {
          &:first-child {
            padding-left: 0;
          }
        }
      }
    }
  }
  th {
    padding: 10px;
    color: $gray;
    font-weight: 400;

  }

  tbody {
    tr {
      td {
        padding: 15px 15px 10px;
        vertical-align: top;
        border-bottom: 1px solid $border;
        &:first-child {
          padding-left: 0;
        }
        &:hover {
          background-color: $bg;
        }
      }

      &:hover {
        background-color: rgba(237, 240, 241, 0.25);
      }
    }
  }

  p {
    margin: 0;
    &>span {
      color: $gray;
    }
  }
}

.order-table {
  margin-bottom: $gutter / 2;
  thead {
    display: none;
    @media (min-width: $tablet-w) {
      display: table-header-group;
    }
  }

  tbody {
    display: block;
    @media (min-width: $tablet-w) {
      display: table-row-group ;
    }

    tr {
      @media (max-width: #{$tablet-w - 1px}) {
        margin-bottom: $gutter;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
        td {
          padding: 0 10px 10px;
          display: block;
          width: 100%;
          border-bottom: none;
          background-color: $bg;
          &:first-child {
            padding-left: 10px;
          }
          &:before {
            content: attr(data-mob-title);
            font-weight: bold;
            display: block;
            background-color: $prime;
            color: $white;
            padding: 8px 10px;
            margin: 0 -10px 10px -10px;
          }
        }
      }
    }
  }
}

.order-status {
  position: relative;
  padding-left: 22px;
  white-space: nowrap;
  &:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  
  &--canceled {
    &:before {
      background-color: #F2994A;
    }
  }
  &--pending {
    &:before {
      background-color: #DADADA;
    }
  }
  &--payed {
    &:before {
      background-color: #56CCF2;
    }
  }
  &--no-payed {
    &:before {
      background-color: $red;
    }
  }
  &--finished {
    &:before {
      background-color: #6FCF97;
    }
  }
}


.status-table {
  tr {
    &:hover {
      background-color: transparent;
    }
    td {
      padding: 20px;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
        text-align: right;
      }
      &:hover {
        background-color: transparent;
      }
    }

    @media (max-width: #{$mob-s - 1px}) {
      display: block;
      td {
        padding: 10px 10px 10px 0;
        display: block;
        border: none;
        text-align: left;
        &:last-child {
          text-align: left;
          padding-left: 0;
          border-bottom: 1px solid $border;
        }
      }
    }
  }
}


.table-order-result {
  tr {
    &:hover {
      background-color: transparent;
    }
    td {
      padding: 10px 0;
      border: none;
    }
    &:first-child {
      td {
        padding-top: 26px;
      }
    }
    &:last-child {
      td {
        border-bottom: 1px solid $border;
        padding-bottom: 26px;
      }
    }
  }

  td {
    &:hover {
      background-color: transparent;
    }
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}

  .big-price {
    font-size: 24px;
    line-height: 30px;
  }
