$mob-xs: 0px;
$mob-s: 640px;
$tablet-w: 960px;
$desk-w: 1200px;
$desk-lg: 1440px;

$mainFont: 'Inter';
$secondFont: 'Akrobat';
$fontSize: 16px;
$lineHeight: 24px;

$black: #030303;
$prime: #251664;
$gray: #626262;
$bg: #edf0f1;
$border: #dadada;
$white: #ffffff;
$red: #dd4661;
$green: #27ae60;

$borderRadius: 18px;
$gutter: 40px;
$containerWidth: 1440px;
