$mob-xs: 0px;
$mob-s: 640px;
$tablet-w: 960px;
$desk-w: 1200px;

$mainFont: 'Inter';
$secondFont: 'Akrobat';
$fontSize: 16px;
$lineHeight: 24px;

$black: #030303;
$prime: #251664;
$gray: #626262;
$bg: #EDF0F1;
$border: #DADADA;
$white: #ffffff;
$red: #DD4661;
$green: #27AE60;

$borderRadius: 18px;

$containerWidth: 1440px;
