<!-- begin pagination -->

<ul class="uk-pagination">
	<li class="prev uk-hidden">
		<a href="">
			Предыдущая
		</a>
	</li>
	<li class="uk-active">
		<a href="#">1</a>
	</li>
	<li>
		<a href="#">2</a>
	</li>
	<li class="uk-disabled">
		<span>...</span>
	</li>
	<li>
		<a href="#">41</a>
	</li>
	<li class="next">
		<a href="">
			Следующая страница
		</a>
	</li>
</ul>

<!-- end pagination -->
