<!-- begin tabs -->
<ul class="tabs" uk-switcher>
	<li id="tab-feature" class="uk-active">
		<a href="#">Характеристики</a>
	</li>
	<li>
		<a href="#">Описание</a>
	</li>
	<li id="tab-reviews">
		<a href="#">Отзывы</a>
	</li>
	<li>
		<a href="#">Оплата и доставка</a>
	</li>
	<li>
		<a href="#">Гарантия и возврат</a>
	</li>
</ul>
<ul class="uk-switcher">
	<li>
		<div class="uk-grid">
			<div class="uk-width-3-4@m">
				<table class="table-feature">
					<tbody>
						<tr>
							<td>Производитель</td>
							<td>ABB</td>
						</tr>
						<tr>
							<td>Артикул</td>
							<td>2CDS241001R0104</td>
						</tr>
						<tr>
							<td>Номинальный ток</td>
							<td>16А</td>
						</tr>
						<tr>
							<td>Материал</td>
							<td>пластик</td>
						</tr>
					</tbody>
				</table>

				<ul class="doc-list">
					<li class="doc-list__item">
						<div class="doc-list__icon">
							<svg width="32px" height="40px" class="icon-doc">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#doc"></use>
							</svg>
						</div>
						<div class="doc-list__title">
							<a href="">Гарантия производителя</a>
						</div>
					</li>

					<li class="doc-list__item">
						<div class="doc-list__icon">
							<svg width="32px" height="40px" class="icon-doc">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#doc"></use>
							</svg>
						</div>
						<div class="doc-list__title">
							<a href="">Технические характеристики</a>
						</div>
					</li>

					<li class="doc-list__item">
						<div class="doc-list__icon">
							<svg width="32px" height="40px" class="icon-doc">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#doc"></use>
							</svg>
						</div>
						<div class="doc-list__title">
							<a href="">Сертификат соответствия</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="uk-width-1-4@m"></div>
		</div>
	</li>
	<li>
		<div class="uk-grid">
			<div class="uk-width-3-4@m">
				Some descriptions: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, temporibus cumque officia sunt, ad id fugit voluptatum inventore eos est doloribus sequi molestiae a aut velit consectetur? Ex, omnis distinctio!
			</div>
			<div class="uk-width-1-4@m"></div>
		</div>
	</li>
	<li class="uk-active">
		<div class="uk-grid">
			<div class="uk-width-1-1 uk-hidden@m">
				<div class="add-reviews">
					<div class="add-reviews__text">
						Помогите другим пользователям с выбором - поделитесь своим мнением об этом товаре
					</div>
					<a href="#review-modal" class="btn btn--transparent" uk-toggle>Оставить отзыв</a>
				</div>
			</div>
			<div class="uk-width-3-4@m">
				<div class="reviews-section">
					<div class="reviews__body">
						<article class="review">
							<header class="review__top">
								<div class="review__rating review__rating--three"></div>
								<div class="review__author">Светлана Олеговна</div>
								<time class="review__date" datetime="21.02.2022">21.02.2022</time>
							</header>
							<section class="review__text">
								<div class="review__text-positive">
									<div class="small-title">Достоинства</div>
									Выстроенные  отношения с крупнейшими производителями и дистрибьюторами рынка электротехники, дают нам возможность предлагать  вам более низкие цены, предоставлять дополнительные скидки и бонусы.
								</div>
								<div class="review__text-negative">
									<div class="small-title">Недостатки</div>
									Мы являемся сертифицированными партнерами известных брендов (ABB, Schneider Electric, IEK, Legrand и др.) и продаем исключительно оригинальную продукцию
								</div>
							</section>
							<a href="" class="review__read-more">Читать далее</a>
						</article>
						<article class="review">
							<header class="review__top">
								<div class="review__rating"></div>
								<div class="review__author">Максим М.</div>
								<time class="review__date" datetime="12.02.2022">12.02.2022</time>
							</header>
							<section class="review__text">
								<div class="review__text-positive">
									<div class="small-title">Достоинства</div>
									Для доставки заказов покупателям (Москва и МО) мы пользуемся сторонними ТК, пунктами самовывоза, а также собственной логистикой, что позволяет нам быть более гибкими и доставлять товар клиенту даже тогда, когда это кажется невозможным. Доставки осуществляются на следующий день после размещения и оплаты заказа, но когда это особенно важно — день в день.
								</div>
								<div class="review__text-negative">
									<div class="small-title">Недостатки</div>
									В нашей компании работают сотрудники с многолетним опытом и знанием продукции, в случае если потребуется техническая консультация
								</div>
							</section>
							<a href="" class="review__read-more">Читать далее</a>
						</article>
					</div>
					<div class="reviews__footer">
						<div class="pagination-wrapper">
							<div class="load-more btn btn--white">Показать еще</div>

							{% include "../components/pagination.twig" %}
						</div>
					</div>
				</div>
			</div>
			<div class="uk-width-1-4@m uk-visible@m">
				<div class="add-reviews">
					<div class="add-reviews__text">
						Помогите другим пользователям с выбором - поделитесь своим мнением об этом товаре
					</div>
					<a href="#review-modal" class="btn btn--transparent" uk-toggle>Оставить отзыв</a>
				</div>
			</div>
		</div>
	</li>
	<li>
		<div class="uk-grid">
			<div class="uk-width-3-4@m">1</div>
			<div class="uk-width-1-4@m">2</div>
		</div>
	</li>
	<li>
		<div class="uk-grid">
			<div class="uk-width-3-4">1</div>
			<div class="uk-width-1-4">2</div>
		</div>
	</li>
</ul>
<!-- end tabs -->
