.accordion {
  &__title {
    position: relative;
    margin-bottom: $gutter / 2;
    padding-right: 36px;
    display: flex;
    align-items: center;
    color: $prime;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    font-family: $secondFont;
    font-weight: 700;
    word-break: break-word;
    cursor: pointer;

    @media (min-width: $tablet-w) {
      font-size: 24px;
      line-height: 30px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 24px;
      height: 24px;
      display: block;
      background: url('../img/icon-svg/drop-down.svg') center no-repeat;
      background-size: 12px 6px;
      transform: translateY(-50%);
      transform-origin: 50% 0;
    }

    &.open {
      &:after {
        transform: rotate(180deg) translateY(-50%);
      }
    }
  }

  &__icon {
    margin-right: $gutter / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background-color: $bg;
    border-radius: $borderRadius;
  }

  &__desc {
    margin-bottom: $gutter / 2;
    display: none;

    &.open {
      display: block;
    }
  }
}
