.doc-list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin: 0 $gutter $gutter / 2 0;
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: $gutter / 2;
    flex-shrink: 0;

    svg {
      color: $prime;
    }
  }
}
