.default-modal {
  padding: 0;

  .uk-modal-dialog {
    margin: 0 0 0 auto;
    padding: $gutter 0;
    display: flex;
    align-items: center;
    width: 500px;
    min-height: 100%;
    transform: translateY(0) translateX(0);
  }

  .container {
    @media (min-width: $tablet-w) {
      padding: 0 $gutter;
    }
  }

  .uk-modal-header {
    margin-bottom: $gutter;
    padding: 0 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid $border;

    .title-h2 {
      margin-bottom: 0;
      width: calc(100% - #{$gutter * 3});
    }
  }

  .uk-modal-body {
    padding: 0;
  }

  .uk-modal-close {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid $border;
    transition: background-color .3s ease;
    flex-shrink: 0;

    @media (min-width: $tablet-w) {
      width: 96px;
      height: 96px;
    }

    svg {
      fill: $gray;
    }

    &:hover {
      border-color: $bg;
      background-color: $bg;
    }
  }

  .uk-modal-close-default {
    position: static;
    transform: unset;

    svg {
      display: none;
    }
  }

  &.review-modal {
    .uk-modal-dialog {
      width: 860px;
    }
  }

  &.return-modal {
    .uk-modal-dialog {
      width: 740px;
    }

    .form-group {
      margin-bottom: $gutter;
    }

    textarea {
      min-height: 127px;
    }

    .custom-checkbox {
      margin-bottom: $gutter / 2;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .politics {
    margin-top: $gutter / 2;
    color: $gray;

    a {
      color: $prime;
      text-decoration: underline;
    }
  }

  .form-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media (min-width: $mob-s) {
      justify-content: flex-start;
    }
  }

}

.additional-content {
  padding-bottom: $gutter / 2;
  border-bottom: 1px solid $border;
}
