.select2-container {
  width: 100% !important;

  .select2-selection--single {
    height: 48px;
    background-color: $bg;
    border-color: $bg;
    border-radius: $borderRadius;

    .select2-selection__rendered {
      padding-left: 13px;
      line-height: 48px;
    }

    .select2-selection__clear {
      display: none;
    }

    .select2-selection__arrow {
      margin-right: 15px;
      height: 46px;

      b {
        margin: 0;
        width: 20px;
        height: 24px;
        border: none;
        background: url('../img/icon-svg/drop-down-gray.svg') center no-repeat;
        background-size: 12px;
        transform: translate(-50%, -50%);
        transform-origin: 0 0;
      }
    }


  }

  &.select2-container--open {
    .select2-selection__arrow {
      b {
        transform: rotate(180deg) translate(-50%, -50%);
      }
    }
  }
}

.select2-dropdown.select2-dropdown--below {
  border-radius: 0 0 18px 18px;
  border: none;
  overflow: hidden;

  .select2-results__option--highlighted[aria-selected] {
    background-color: lighten($gray, 40%) !important;
    color: $black;
  }

  .select2-results {
    background-color: $bg !important;
    color: $black;
  }
}
