.hero-slider {
  height: 450px;
  overflow: hidden;

  &.slick-dotted {
    margin-bottom: $gutter;

    @media (min-width: $tablet-w) {
      margin-bottom: $gutter * 2;
    }
  }

  &.slick-initialized {
    height: auto;
    overflow: visible;
  }

  .slick-prev,
  .slick-next {
    top: $gutter;
    transform: unset;
    background-color: $white;
  }

  .slick-prev {
    left: auto;
    right: $gutter * 2.5;
  }

  .slick-next {
    right: $gutter;
  }


  .slide {

    &__img {
      picture {
        position: relative;
        height: 0;
        padding-bottom: 56.5%;
        min-height: 450px;

        @media (min-width: $tablet-w) {
          padding-bottom: 32.5%;
        }
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 0;
      }
    }

    &__text {
      position: absolute;
      left: $gutter / 2;
      bottom: $gutter * 1.5;
      max-width: 560px;
      @include adpFont(32, 32, 48, 48, 320, 1440);
      font-weight: 800;
      font-family: $secondFont;
      text-transform: uppercase;
      color: $white;

      @media (min-width: 768px) {
        left: $gutter;
        bottom: $gutter * 3;
      }
    }

    &__link {
      position: absolute;
      left: $gutter / 2;
      bottom: $gutter / 2;
      font-size: 24px;
      line-height: 30px;
      font-weight: 700;
      font-family: $secondFont;
      text-transform: uppercase;
      color: $white;
      border-bottom: 2px solid $white;

      @media (min-width: 768px) {
        left: $gutter;
        bottom: $gutter;
      }

      a {
        color: $white;
      }
    }
  }

  .slick-dots {
    bottom: -40px;

    @media (min-width: $tablet-w) {
      bottom: -60px;
    }
  }
}


.slick-prev,
.slick-next {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 65;
  transition: background-color .3s ease;

  svg {
    transition: color .3s ease;
  }

  &:before {
    display: none;
  }

  &:hover {
    background-color: $prime;
  }
}

.slick-prev {
  background: $bg url('../img/icon-svg/arrow-left-purple.svg') center no-repeat;
  background-size: 12px 14px;

  &:hover,
  &:active,
  &:focus {
    background: $prime url('../img/icon-svg/arrow-left-white.svg') center no-repeat;
    background-size: 12px 14px;
  }
}

.slick-next {
  background: $bg url('../img/icon-svg/arrow-right-purple.svg') center no-repeat;
  background-size: 12px 14px;

  &:hover,
  &:active,
  &:focus {
    background: $prime url('../img/icon-svg/arrow-right-white.svg') center no-repeat;
    background-size: 12px 14px;
  }
}



.slick-dots {
  display: inline-flex;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;

    button {
      padding: 0;
      width: 4px;
      height: 4px;
      background-color: $prime;
      border-radius: 50%;
      transition: width .3s ease;

      &:before {
        display: none;
      }
    }

    &.slick-active {
      width: 40px;

      button {
        width: 40px;
        border-radius: 4px;
      }
    }
  }
}



/*___ Hit slider ___*/

.hit-slider {
  padding: 20px;

  @media (min-width: $tablet-w) {
    padding: 50px 30px 40px;
  }

  .slider {
    @media (min-width: $tablet-w) {
      height: 196px;
      overflow: hidden;

      &.slick-initialized {
        height: auto;
        overflow: visible;
      }
    }
  }

  .slick-prev,
  .slick-next {
    top: 100px;

    @media (min-width: $desk-w) {
      top: auto;
      bottom: 0;
      left: 0;
      right: auto;
      transform: unset;
    }
  }

  .slick-prev {
    left: -10px;
  }

  .slick-next {
    right: -10px;

    @media (min-width: $desk-w) {
      left: 60px;
    }
  }
}


.main-nav {
  .hit-slider {
    padding: 0;

    .slick-prev,
    .slick-next {
      top: -80px;
      left: auto;
    }

    .slick-prev {
      right: 68px;
    }

    .slick-next {
      right: 0px;
    }
  }
}

/*___ Stocks slider ___*/

.stocks-slider {
  height: 450px;
  overflow: hidden;

  &.slick-dotted {
    margin-bottom: $gutter;

    @media (min-width: $tablet-w) {
      margin-bottom: $gutter * 2;
    }
  }

  &.slick-initialized {
    height: auto;
    overflow: visible;
  }

  .slick-prev,
  .slick-next {
    top: $gutter / 2;
    transform: unset;

    @media (min-width: $tablet-w) {
      top: $gutter
    }
  }

  .slick-prev {
    left: auto;
    right: $gutter * 2;

    @media (min-width: $tablet-w) {
      right: $gutter * 2.5;
    }
  }

  .slick-next {
    right: $gutter / 2;

    @media (min-width: $tablet-w) {
      right: $gutter;
    }
  }


  .slide {

    &__img {
      picture {
        position: relative;
        height: 0;
        padding-bottom: 56.5%;
        min-height: 450px;

        @media (min-width: $tablet-w) {
          padding-bottom: 32.5%;
        }
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 0;
      }
    }

    &__text {
      position: absolute;
      left: $gutter / 2;
      bottom: $gutter * 1.5;
      max-width: 560px;
      @include adpFont(32, 32, 48, 48, 320, 1440);
      font-weight: 800;
      font-family: $secondFont;
      text-transform: uppercase;
      color: $white;
      word-break: break-word;

      @media (min-width: 768px) {
        left: $gutter;
        bottom: $gutter * 3;
      }
    }

    &__link {
      position: absolute;
      left: $gutter / 2;
      bottom: $gutter / 2;
      font-size: 24px;
      line-height: 30px;
      font-weight: 700;
      font-family: $secondFont;
      text-transform: uppercase;
      color: $white;
      border-bottom: 2px solid $white;

      @media (min-width: 768px) {
        left: $gutter;
        bottom: $gutter;
      }

      a {
        color: $white;
      }
    }
  }

  .slick-dots {
    bottom: -40px;

    @media (min-width: $tablet-w) {
      bottom: -60px;
    }
  }
}


.small-product-slider {
  margin-bottom: $gutter / 2;

  .slider {
    height: 94px;
    overflow: hidden;

    &.slick-initialized {
      height: auto;
      overflow: visible;
    }

    .slide {
      margin-right: 20px;
      height: 94px;
      width: 94px;
    }
  }


  .slick-prev,
  .slick-next {
    top: -63px;
    transform: none;

    @media (min-width: $tablet-w) {
      top: -68px;
    }
  }

  .slick-prev {
    left: auto;
    right: 68px;
  }

  .slick-next {
    right: 0;
  }
}

.products-slider-wrapper {
  margin-bottom: $gutter;

  @media (min-width: $tablet-w) {
    margin-bottom: $gutter * 1.5;
  }

  .title-h2 {
    padding-right: 126px;
  }

  .product-card {
    padding: $gutter / 2;
  }
}


.products-slider {
  margin-bottom: $gutter;

  @media (min-width: $tablet-w) {
    margin-bottom: $gutter * 1.5;
  }

  .slider {
    height: 463px;
    overflow: hidden;

    &.slick-initialized {
      height: auto;
      overflow: visible;
    }

    &.small-slider {
      @media (min-width: 540px) {
        .product-card {
          border-left: 1px solid $border;
        }
      }
    }

  }


  .slick-prev,
  .slick-next {
    top: -63px;
    transform: none;

    @media (min-width: $tablet-w) {
      top: -68px;
    }
  }

  .slick-prev {
    left: auto;
    right: 68px;
  }

  .slick-next {
    right: 0;
  }

  .slick-list {
    margin: 0 -1px;
    padding: 0 2px;
  }

  .slide {
    height: auto;
  }

  .slick-track {
    display: flex;
    min-width: 100%;
  }

  .product-card {
    border: 1px solid $border;
    border-left: none;

    svg {
      margin: 0;
    }
  }
}

.additional-slider {
  .slider {
    height: 120px;
    overflow: hidden;

    &.slick-initialized {
      height: auto;
      overflow: visible;
    }

    .slick-prev,
    .slick-next {
      top: -63px;
      transform: none;

      @media (min-width: $tablet-w) {
        top: -68px;
      }
    }

    .slick-prev {
      left: auto;
      right: 68px;
    }

    .slick-next {
      right: 0;
    }

  }
}


.detail-slider-wrapper {
  position: relative;

  @media (min-width: $tablet-w) {
    max-width: 543px;
  }
}


.detail-slider {
  .slider {
    position: relative;
    margin-bottom: $gutter / 2;
    height: 526px;
    overflow: hidden;
    padding-bottom: $gutter / 2;
    border-bottom: 1px solid $border;

    &.slick-initialized {
      height: auto;
      overflow: visible;
    }

    @media (min-width: $tablet-w) {
      padding-bottom: 0;
      border-bottom: none;
    }

    @media (min-width: $desk-w) {
      margin-bottom: 0;
    }
  }

  .slide {
    a {
      position: relative;
      padding-bottom: 48px;
      display: block;
      z-index: 30;
    }

    img {
      margin: 0 auto;
    }

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 388px;

      @media (min-width: $tablet-w) {
        height: 526px;
      }

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .slick-prev,
  .slick-next {
    top: auto;
    bottom: 0;
    transform: none;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: auto;
    left: 60px;
  }

  .slick-dots {
    bottom: 30px;

    @media (min-width: $tablet-w) {
      bottom: 13px;
      left: 50%;
      transform: translateX(-50%);
      justify-content: center;
    }
  }

  .zoom {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}


.zoom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: $bg;

  svg {
    color: $prime;
  }
}


.news-slider {
  .slider {
    height: 437px;
    overflow: hidden;

    &.slick-initialized {
      height: auto;
      overflow: visible;
    }
  }

  .slick-list {
    margin: 0 -20px;
  }

  .slick-track {
    display: flex;
  }

  .slide {
    margin: 0 20px;
    height: auto;
  }

  .slick-prev,
  .slick-next {
    top: -84px;
    transform: none;

    @media (min-width: $tablet-w) {
      top: -124px;
    }
  }

  .slick-prev {
    left: auto;
    right: 68px;
  }

  .slick-next {
    right: 0;
  }
}
