.hero-slider {
  height: 450px;
  overflow: hidden;

  &.slick-dotted {
    margin-bottom: $gutter;

    @media (min-width: $tablet-w) {
      margin-bottom: $gutter * 2;
    }
  }

  &.slick-initialized {
    height: auto;
    overflow: visible;
  }

  .slick-prev,
  .slick-next {
    top: $gutter;
    transform: unset;
    background-color: $white;
  }

  .slick-prev {
    left: auto;
    right: $gutter * 2.5;
  }

  .slick-next {
    right: $gutter;
  }


  .slide {

    &__img {
      picture {
        position: relative;
        height: 0;
        padding-bottom: 56.5%;
        min-height: 450px;

        @media (min-width: $tablet-w) {
          padding-bottom: 32.5%;
        }
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 0;
      }
    }

    &__text {
      position: absolute;
      left: $gutter / 2;
      bottom: $gutter * 1.5;
      max-width: 560px;
      @include adpFont(32, 32, 48, 48, 320, 1440);
      font-weight: 800;
      font-family: $secondFont;
      text-transform: uppercase;
      color: $white;

      @media (min-width: 768px) {
        left: $gutter;
        bottom: $gutter * 3;
      }
    }

    &__link {
      position: absolute;
      left: $gutter / 2;
      bottom: $gutter / 2;
      font-size: 24px;
      line-height: 30px;
      font-weight: 700;
      font-family: $secondFont;
      text-transform: uppercase;
      color: $white;
      border-bottom: 2px solid $white;

      @media (min-width: 768px) {
        left: $gutter;
        bottom: $gutter;
      }

      a {
        color: $white;
      }
    }
  }

  .slick-dots {
    bottom: -40px;

    @media (min-width: $tablet-w) {
      bottom: -60px;
    }
  }
}


.slick-prev,
.slick-next {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 65;
  transition: background-color .3s ease;

  svg {
    transition: color .3s ease;
  }

  &:before {
    display: none;
  }

  &:hover {
    background-color: $prime;
  }
}

.slick-prev {
  background: $bg url('../img/icon-svg/arrow-left-purple.svg') center no-repeat;
  background-size: 12px 14px;

  &:hover,
  &:active,
  &:focus {
    background: $prime url('../img/icon-svg/arrow-left-white.svg') center no-repeat;
    background-size: 12px 14px;
  }
}

.slick-next {
  background: $bg url('../img/icon-svg/arrow-right-purple.svg') center no-repeat;
  background-size: 12px 14px;

  &:hover,
  &:active,
  &:focus {
    background: $prime url('../img/icon-svg/arrow-right-white.svg') center no-repeat;
    background-size: 12px 14px;
  }
}



.slick-dots {
  display: inline-flex;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;

    button {
      padding: 0;
      width: 4px;
      height: 4px;
      background-color: $prime;
      border-radius: 50%;
      transition: width .3s ease;

      &:before {
        display: none;
      }
    }

    &.slick-active {
      width: 40px;

      button {
        width: 40px;
        border-radius: 4px;
      }
    }
  }
}



/*___ Hit slider ___*/

.hit-slider {
  padding: 20px;

  @media (min-width: $tablet-w) {
    padding: 50px 30px 40px;
  }

  .slider {
    @media (min-width: $tablet-w) {
      height: 196px;
      overflow: hidden;

      &.slick-initialized {
        height: auto;
        overflow: visible;
      }
    }
  }

  .slick-prev,
  .slick-next {
    top: 100px;

    @media (min-width: $desk-w) {
      top: auto;
      bottom: 0;
      left: 0;
      right: auto;
      transform: unset;
    }
  }

  .slick-prev {
    left: -10px;
  }

  .slick-next {
    right: -10px;

    @media (min-width: $desk-w) {
      left: 60px;
    }
  }
}
