.soc-list {
  @include list-reset;
  display: flex;

  li {
    margin: 0 12px 12px 0;

    &:last-child {
      margin-right: 0;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: $white;
      text-decoration: none;
      transition: background-color .3s ease;

      svg {
        color: $prime;
        transition: color .3s ease;
      }

      &:hover {
        background-color: $prime;

        svg {
          color: $white;
        }
      }
    }
  }
}
