.tags-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: $gutter / 2;
  padding-bottom: $gutter / 2;
  border-bottom: 1px solid $border;

  @media (min-width: $tablet-w) {
    margin-bottom: $gutter;
  }

  .brands-reset {
    width: 100%;
    padding-left: 8px;

    @media (min-width: $mob-s) {
      width: auto;
    }
  }
}


.tags-list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;

  li {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }

    a {
      position: relative;
      padding: 2px 8px;
      display: block;
      min-width: 24px;
      border-radius: 28px;
    }

    &.active {
      a {
        padding-right: 26px;
        min-width: 48px;
        color: $white;
        background: $prime url('../img/icon-svg/cross-white.svg') right 10px center no-repeat;
        background-size: 10px;
      }
    }
  }
}
