{% extends "./default-modal" %}

{% extends "./default-modal.twig" %}
{% set modal = {id: 'question-modal', class: 'question-modal', title: 'Задать вопрос'} %}

{% block content %}

	<form action="" class="default-form">
		<div class="form-group form-group--sm">
			<label for="que-name">Ваше имя</label>
			<input id="que-name" type="text">
		</div>

		<div class="form-group form-group--sm">
			<label for="que-com">Компания</label>
			<input id="que-com" type="text">
		</div>

		<div class="form-group form-group--sm">
			<label for="que-inn">ИНН</label>
			<input id="que-inn" type="text">
		</div>

		<div class="form-group form-group--sm">
			<select name="" id="" class="js__select2">
				<option value="">Сфера деятельности</option>
			</select>
		</div>

		<div class="form-group form-group--sm">
			<label for="que-email">Электронная почта</label>
			<input id="que-email" type="text">
		</div>

		<div class="form-group">
			<label for="que-positive">Телефон</label>
			<input type="text" name="que-tel" id="que-tel" class="js__input-mask">
		</div>

		<div class="form-group">
			<label for="que-comm">Ваш вопрос</label>
			<textarea name="que-comm" id="que-comm"></textarea>
		</div>

		<div class="form-group">
			<label for="file-1" class="custom-file">
				<input id="file-1" type="file" class="js__order-form-file">
				<span class="custom-file__input">
					<svg width="20px" height="20px" class="icon-plus">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#plus"></use>
					</svg>

					<div class="custom-file__label">Прикрепить файл</div>
				</span>
			</label>
			<div class="custom-file-name-box">
				<span></span>
				<i class="delete-file uk-hidden">
					<svg width="15px" height="15px" class="page-icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#cross"></use>
					</svg>
				</i>
			</div>
		</div>

		<div class="form-buttons">
			<button type="submit" class="btn btn--md">Отправить</button>
		</div>
	</form>

	<div class="politics">
		Нажимая на кнопку Оставить отзыв, я даю согласие на обработку
		<a href="/politics/">Персональных данных</a>
	</div>
{% endblock %}
