<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
	<link rel="preload" href="fonts/inter/inter-regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="fonts/akrobat/Akrobat-ExtraBold.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="fonts/akrobat/Akrobat-bold.woff2" as="font" type="font/woff2" crossorigin>

	<link rel="preload" href="libs/slick/fonts/slick.woff" as="font" type="font/woff" crossorigin>
	<link rel="stylesheet" href="libs/uikit3/css/uikit.min.css" media="print" onload="this.media='all'">
	<link rel="stylesheet" href="libs/slick/slick-theme.css" media="print" onload="this.media='all'">
	<link rel="stylesheet" href="libs/slick/slick.css" media="print" onload="this.media='all'">
	<link rel="stylesheet" href="css/style.css">
</head>
