<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<title>{{ title }}</title>
	<link rel="preload" href="fonts/inter/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="fonts/akrobat/Akrobat-ExtraBold.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="fonts/akrobat/Akrobat-Bold.woff2" as="font" type="font/woff2" crossorigin>

	<link rel="preload" href="libs/slick/fonts/slick.woff" as="font" type="font/woff" crossorigin>

	<style>
		.dropdown-menu {
			display: none;
		}
		.group-list {
			display: none;
			height: 160px;
			overflow: hidden;
		}

		.group-list.no-scrollbar {
			height: auto;
			display: block;
			overflow: visible;
		}
	</style>

	<link rel="stylesheet" href="libs/uikit3/css/uikit.min.css" media="print" onload="this.media='all'">
	<link rel="stylesheet" href="libs/slick/slick-theme.css" media="print" onload="this.media='all'">
	<link rel="stylesheet" href="libs/slick/slick.css" media="print" onload="this.media='all'">
	<link rel="stylesheet" href="libs/jquery-ui/jquery-ui.min.css" media="print" onload="this.media='all'">
	<link rel="stylesheet" href="libs/mCustomScrollbar/jquery.mCustomScrollbar.min.css" media="print" onload="this.media='all'">
	<link rel="stylesheet" href="libs/select2/select2.min.css" media="print" onload="this.media='all'">
	<link rel="stylesheet" href="css/style.css">
</head>
